<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='user'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h4>회원 등급 설정</h4>
            <hr>
            <table>
                <thead>
                <tr>

                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</html>