<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>룸메이크 | 주문하기</title>
    <style layout:fragment="style">
        .btn.btn-xs {
            --bs-btn-padding-y: .25rem;
            --bs-btn-padding-x: .35rem;
            --bs-btn-font-size: .75rem;
        }

        .sticky {
            position: sticky;
            top: 100px;
        }
    </style>
</head>
<div layout:fragment="content" class="container my-3 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h4 class="fw-bold text-center mb-4">주문/결제</h4>
            </div>
            <form method="get" id="form"> <!-- Ajax로 요청하기 때문에 action 속성은 불필요 -->
                <div id="div-order-info" class="row mb-3">
                    <!-- 1. 좌측 주문정보 영역 시작 -->
                    <div class="col-9 mb-5">
                        <!-- 1-1. 배송지 영역 시작 -->
                        <div class="row">
                            <div class="col-12 mb-5">
                                <h5 class="fw-bold">배송지</h5>
                                <hr>
                                <div id="div-delivery-null" th:if="${delivery == null}" class="d-flex justify-content-start align-items-center mb-1">
                                    <span class="me-2 small">배송지를 추가해주세요.</span>
                                    <button type="button" class="btn btn-xs" style="border-color: gray" onclick="showDeliveryList()">배송지 추가</button>
                                </div>
                                <div id="div-delivery-not-null" th:if="${delivery != null}">
                                    <div class="d-flex justify-content-start align-items-center mb-1">
                                        <div id="div-delivery-id" th:attr="data-delivery-id=${delivery.id}" class="me-3 fw-bold">
                                            배송지명 | <span id="span-delivery-name" th:text="${delivery.name}"></span>
                                        </div>
                                        <button type="button" class="btn btn-xs" style="border-color: gray" onclick="showDeliveryList()">변경</button>
                                    </div>
                                    <div class="mb-1 small">
                                        (<span id="span-delivery-zipcode" th:text="${delivery.zipcode}">(03134)</span>)
                                        <span id="span-delivery-address" th:text="${delivery.address1} + ${delivery.address2}">서울특별시 종로구 율곡로10길 105 디아망 4F</span>
                                    </div>
                                    <div class="mb-2 small">
                                        <span id="span-delivery-recipient" th:text="${delivery.recipient}">수령인</span> |
                                        <span id="span-delivery-phone" th:text="${delivery.phone}">010-1234-5678</span>
                                    </div>
                                    <div class="form-group mb-1">
                                        <select name="deliveryMemo" class="form-select text-secondary" style="width: 500px">
                                            <option value="0" hidden>배송메모를 선택해주세요</option>
                                            <option value="1">문 앞에 놓아주세요</option>
                                            <option value="2">배송 전에 미리 연락주세요</option>
                                            <option value="3">부재 시 경비실에 맡겨주세요</option>
                                            <option value="4">부재 시 전화 주시거나 문자 남겨주세요</option>
                                            <option value="5">직접 입력</option>
                                        </select>
                                    </div>
                                    <div hidden="hidden" id="div-delivery-memo" style="width: 500px">
                                        <textarea name="memo" type="text" class="form-control" placeholder="배송 요청사항을 입력해주세요" style="width: 500px"></textarea>
                                        <p class="text-end text-secondary" style="font-size: small">
                                            <span id="span-text-count">0</span>/50
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 배송지 영역 끝 -->
                        <!-- 1-2. 주문상품 영역 시작 -->
                        <div class="row mb-3">
                            <div class="col-12 mb-5" style="font-size: small">
                                <h5 class="fw-bold">주문상품</h5>
                                <hr class="mb-1">
                                <table class="table text-center">
                                    <thead>
                                    <tr>
                                        <th>상품정보</th>
                                        <th>수량</th>
                                        <th>가격</th>
                                    </tr>
                                    </thead>
                                    <tbody class="align-middle" id="tbody-item" th:attr="data-item-quantity=${dto.items.size()}">
                                    <tr th:each="item : ${dto.items}">
                                        <!-- 상품정보 영역 시작 -->
                                        <td th:id="td-product- + ${item.productId}" th:attr="data-product-id=${item.productId}">
                                            <div class="d-flex w-100 justify-content-start">
                                                <a th:href="@{/store/detail/{id}(id=${item.productId})}" class="link-underline link-underline-opacity-0 text-dark" target="_blank">
                                                    <div>
                                                        <img th:src="@{/images/home/banner3.jpg}" style="width: 80px; height: 80px">
                                                    </div>
                                                </a>
                                                <div class="ms-3 text-start">
                                                    <div>
                                                        <div id="div-item-name"
                                                             th:attr="data-item-name=${item.name}"
                                                             th:text="${item.name}"
                                                             style="display: -webkit-box;
                                                              overflow: hidden;
                                                              text-overflow: ellipsis;
                                                              -webkit-box-orient: vertical;
                                                              -webkit-line-clamp: 1;">
                                                            LED조명 통서랍 수납침대 SSQ(매트리스 선택)
                                                        </div>
                                                        <div th:text="${#numbers.formatCurrency(item.price)}">189,000원</div>
                                                        <div th:id="div-product-detail- + ${item.productDetailId}"
                                                             th:attr="data-product-detail-id=${item.productDetailId}"
                                                             class="text-secondary mt-2" style="font-size: 12px">
                                                            사이즈 선택: <span th:text="${item.size}">슈퍼싱글SS 프레임만</span>
                                                            / 색상 선택: <span th:text="${item.color}">화이트</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- 상품정보 영역 끝 -->
                                        <td>
                                            <span th:id="span-item-amount"
                                                  th:attr="data-item-amount=${item.amount}"
                                                  th:text="${item.amount}">1
                                            </span>개
                                        </td>
                                        <td class="fw-bold" th:text="${#numbers.formatCurrency(item.itemPrice)}"><span>189,000</span>원</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 주문상품 영역 끝 -->
                        <!-- 1-3. 포인트 영역 시작 -->
                        <div class="row mb-3">
                            <div class="col-12 mb-5">
                                <h5 class="fw-bold">포인트</h5>
                                <hr>
                                <div class="form-group d-flex justify-content-start mb-1">
                                    <input id="input-use-point" type="number" value="0" class="form-control me-3" style="width: 500px">
                                    <button type="button" class="btn btn-xs" style="border-color: gray; width: 50px;">사용</button>
                                </div>
                                <div class="small" style="font-size: small">
                                    보유 포인트 3000P
                                </div>
                            </div>
                        </div>
                        <!-- 포인트 영역 끝 -->
                        <!-- 1-4. 결제수단 영역 시작 -->
                        <div class="row">
                            <div class="col-12">
                                <h5 class="fw-bold">결제수단</h5>
                                <hr>
                                <div class="d-flex align-items-center ms-3 pb-4">
                                    <input type="radio" value="카카오페이" checked>
                                    <img th:src="@{/images/order/kakaopay-logo.png}" class="ms-2" style="width:5%">
                                    <label class="ms-2 small fw-bold">카카오페이</label>
                                </div>
                            </div>
                        </div>
                        <!-- 결제수단 영역 끝 -->
                    </div>
                    <!-- 주문정보 영역 끝 -->

                    <!-- 2. 우측 결제금액 정보 영역 시작 -->
                    <div class="col-3">
                        <div class="card sticky">
                            <div class="card-body">
                                <table class="table table-borderless" style="font-size: 14px">
                                    <tr>
                                        <td>총 상품금액</td>
                                        <td class="text-end"><strong><span th:text="${#numbers.formatCurrency(dto.totalPrice)}">334,800</span></strong></td>
                                    </tr>
                                    <!--<tr>
                                        <td>총 할인금액</td>
                                        <td class="text-end"><strong><span th:text="${#numbers.formatCurrency(dto.totalDiscountPrice)}">- 50,000</span></strong></td>
                                    </tr>-->
                                    <tr>
                                        <td>배송비</td>
                                        <td class="text-end"><strong><span th:text="${#numbers.formatCurrency(dto.deliveryPay)}">0</span></strong></td>
                                    </tr>
                                    <tr>
                                        <td>포인트 사용</td>
                                        <td class="text-end"><strong><span>- 1,000</span>원</strong></td>
                                    </tr>
                                </table>
                                <hr>
                                <div>
                                    <div class="d-flex justify-content-between align-items-center mb-1">
                                        <div class="fw-bold">총 결제금액</div>
                                        <div class="text-end text-danger" style="font-size: 19px">
                                            <span id="span-total-price"
                                                  th:attr="data-total-price=${dto.totalPayPrice}"
                                                  th:text="${#numbers.formatCurrency(dto.totalPayPrice)}"
                                                  class="fw-bold">
                                            283,800
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center" style="font-size: small">
                                        <div>적립예정 포인트</div>
                                        <div class="text-end"><strong><span>283</span>P</strong></div>
                                    </div>
                                </div>
                                <hr>
                                <div class="text-secondary text-center mb-2" style="font-size: 10px">
                                    주문 내용을 확인하였으며, 정보 제공 등에 동의합니다.
                                </div>
                                <div class="text-center bg-white mb-3">
                                    <button type="button" class="btn btn-dark w-100" id="btn-pay-ready">결제하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 결제금액 정보 영역 끝 -->
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" layout:fragment="script">
    // 카카오페이 결제 팝업창 연결
    $(function() {
        $("#btn-pay-ready").click(function(e) {
            // 배송지 없는 상태로 결제하기 클릭 시 기본동작 막기
            if ($("#div-delivery-id").attr("data-delivery-id") == null) {
                alert("배송지를 추가해주세요.");
                return false;
            }

            // 카카오페이에 보낼 대표 상품명
            let name;
            if (parseInt($("#tbody-item").attr("data-item-quantity")) == 1) {
                name = "룸메이크 - " + $("#div-item-name").attr("data-item-name");
            } else {
                name = "룸메이크 - " + $("#div-item-name").attr("data-item-name") + " 외 " + (parseInt($("#tbody-item").attr("data-item-quantity")) - 1) + "개";
            }

            // 배송메모 직접입력 시 textarea 내용으로 저장
            let deliveryMemo;
            if ($("select[name=deliveryMemo] :selected").val() == 5) {
                deliveryMemo = $("textarea[name=memo]").val();
            } else if ($("select[name=deliveryMemo] :selected").val() == 0) {
                deliveryMemo = null;
            } else {
                deliveryMemo = $("select[name=deliveryMemo] :selected").text();
            }

            // 상품번호, 상품상세번호, 상품수량을 담을 배열
            let items = [];

            $("td[id^=td-product]").each(function() {
                let item = {productId: $(this).attr("data-product-id")};
                items.push(item);
            });

            $("div[id^=div-product-detail]").each(function(index, div) {
                let item = items[index];
                item["productDetailId"] = $(div).attr("data-product-detail-id");
            })

            $("span[data-item-amount]").each(function(index, span) {
                let item = items[index];
                item["amount"] = $(span).attr("data-item-amount");
            })

            let data = {
                name: name,                                                    // 카카오페이에 보낼 대표 상품명
                totalPrice: $("#span-total-price").attr("data-total-price"),   // 총 결제금액
                usePoint: $("#input-use-point").val(),                         // 사용 포인트
                deliveryId: $("#div-delivery-id").attr("data-delivery-id"),    // 배송지 번호
                deliveryMemo: deliveryMemo,                                    // 배송메모
                items: items
            };

            $.ajax({
                type: 'POST',
                url: '/order/pay/ready',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(response) {
                    location.href = response.next_redirect_pc_url;
                }
            });
        });
    });

    // 배송지 리스트 팝업 표시
    function showDeliveryList() {
        window.open("/order/delivery/list", "_blank", "width=600,height=700,top=70,left=100")
    }

    // 배송메모 직접입력 란 표시
    $("select[name=deliveryMemo]").change(function() {
        if ($(this).val() == 5) {
            $("#div-delivery-memo").removeAttr("hidden");
        } else {
            $("#div-delivery-memo").attr("hidden", "hidden");
        }
    });

    // 배송메모 글자수 카운트
    $("textarea[name=memo]").keyup(function() {
        let text = $(this).val();
        let len = text.length;
        if (len >= 50) {
            $(this).val(text.substring(0, 50));
        }

        $("#span-text-count").text(len);
    });

    // 배송지 변경 업데이트 함수
    function updateDelivery(deliveryId) {
        $.ajax({
            type: 'POST',
            url: '/order/updateDelivery',
            data: {deliveryId: deliveryId},
            success: function(response) {
                // 기본배송지가 있는 상태에서 변경하는 경우
                if ($("#div-delivery-not-null").length > 0) {
                    $("#div-delivery-id").attr("data-delivery-id", response.id);
                    $("#span-delivery-name").text(response.name);
                    $("#span-delivery-zipcode").text(response.zipcode);
                    $("#span-delivery-address").text(response.address1 + " " + response.address2);
                    $("#span-delivery-phone").text(response.phone);
                    $("#span-delivery-recipient").text(response.recipient);
                }
                // 기본배송지가 없는 상태에서 변경하는 경우
                else if ($("#div-delivery-null").length > 0) {
                    let $div = $("#div-delivery-null").empty();
                    let responseDiv = `
                            <div>
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <div id="div-delivery-id" data-delivery-id="${response.id}" class="me-3 fw-bold">
                                        배송지명 | <span id="span-delivery-name">${response.name}</span>
                                    </div>
                                    <button type="button" class="btn btn-xs" style="border-color: gray" onclick="showDeliveryList()">변경</button>
                                </div>
                                <div class="mb-1 small">
                                    <span id="span-delivery-zipcode">(${response.zipcode})</span>
                                    <span id="span-delivery-address">${response.address1} ${response.address2}</span>
                                </div>
                                <div class="mb-2 small">
                                    <span id="span-delivery-recipient">${response.recipient}</span> |
                                    <span id="span-delivery-phone">${response.phone}</span>
                                </div>
                                <div class="form-group mb-1">
                                    <select class="form-select text-secondary" style="width: 500px">
                                        <option hidden>배송메모를 선택해주세요</option>
                                        <option>문 앞에 놓아주세요</option>
                                        <option>배송 전에 미리 연락주세요</option>
                                        <option>부재 시 경비실에 맡겨주세요</option>
                                        <option>부재 시 전화 주시거나 문자 남겨주세요</option>
                                        <option>직접 입력</option>
                                    </select>
                                </div>
                                <div style="width: 500px">
                                    <input type="text" class="form-control" placeholder="배송 요청사항을 입력해주세요" style="width: 500px">
                                    <p class="text-end text-secondary" style="font-size: small"><span>0</span>/50</p>
                                </div>
                            </div>
                    `
                    $div.append(responseDiv);
                }
            }
        });
    }
</script>
</html>
