<div th:fragment="optionlist-modal-fragment" class="modal" id="modal-modify-option">
    <div class="modal-dialog">
        <div class="modal-content">
            <span class="text-end">
                <button type="button" class="btn-close mt-3 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </span>
            <div class="text-center mb-2">
                <h5 class="modal-title fw-bold mb-2 w-100">옵션 변경</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group mb-3">
                        <div class="mb-3">
                            <select class="form-select mb-2" id="product-option">
                                <option hidden>상품을 선택하세요</option>
                                <option name="option" value="1" data-option-name="1">갈색침대</option>
                                <option name="option" value="2" data-option-name="2">보라침대</option>
                                <option name="option" value="3" data-option-name="3">빨강침대</option>
                                <option name="option" value="4" data-option-name="4">노랑침대</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <span>주문금액</span>
                            <span class="fs-5"><strong>100,000</strong>원</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-outline-dark w-50 me-3">취소</button>
                        <button class="btn btn-primary w-50 ms-3">확인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>