<html layout:decorate="~{layout/base}">
<head>
    <title>룸메이크 | 글 작성</title>
    <style>
        /* CKEditor 입력창 크기 */
        .ck-editor__editable { height: 400px; }
    </style>
</head>
<div layout:fragment="content" class="container my-3">

    <div class="row mb-4">
        <div class="col-12">
            <h3 class="my-3">글 작성하기</h3>
            <form class="border bg-light p-3" method="post" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label class="form-label">카테고리</label>
                    <select class="form-select" name="catNo">
                        <option value="1">집들이</option>
                        <option value="1">노하우</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">제목</label>
                    <input type="text" class="form-control" name="title" placeholder="제목을 입력해주세요."/>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">내용</label>
                    <textarea id="content" name="content" placeholder="내용을 입력해주세요."></textarea>
                </div>
                <div class="text-end">
                    <a class="btn btn-secondary" href="">취소</a>
                    <button type="submit" class="btn btn-primary">등록</button>
                </div>
            </form>
        </div>
    </div>
<script src="https://cdn.ckeditor.com/ckeditor5/41.3.0/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/41.3.0/classic/translations/ko.js"></script>
<script type="text/javascript" layout:fragment="script">
    // CK5 에디터
    ClassicEditor
        .create(document.querySelector('#content'), {
            language: "ko"
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error(error);
        });
</script>
</div>
</html>