<html layout:decorate="~{layout/base}">
<head>
    <title>룸메이크 :: 커뮤니티</title>
</head>
</head>
<div layout:fragment="content" class="container my-3">

    <!-- 게시글 리스트 시작 -->
    <div class="list-group p-3 mb-3">

        <!-- 집들이 글 전체 개수, 정렬 옵션 -->
        <div class="row mt-5 mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="align-text-bottom">
                        <span style="font-size: 18px;">전체 12,777</span>
                    </div>
                    <div>
                        <select class="form-select" style="width:150px;" name="sort">
                            <option value="">최신순</option>
                            <option value="">좋아요순</option>
                            <option value="">참여순</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" th:if="${knowhowCommList.isEmpty()}">
            <div class="col-12 my-5 text-center">
                <h4>게시글이 존재하지 않습니다.</h4>
            </div>
        </div>
        <div th:if="${!knowhowCommList.isEmpty()}">
            <th:block th:each="community : ${knowhowCommList}">
                <a th:href="|/community/detail/${community.id}|" class="list-group-item list-group-item-action link-dark">
                    <div class="d-flex w-100 justify-content-between mb-3 pt-2">
                        <h6 class="mb-1 fw-bold" style="max-width: 936px;
                                                        height: 19px;
                                                        display: -webkit-box;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        -webkit-box-orient: vertical;
                                                        -webkit-line-clamp: 1;" th:text="${community.title}">
                            부드러운 부부의 시선이 느껴지는! 34평 국민 평형 집꾸미기!
                        </h6>
                        <small th:text="${#dates.format(community.createDate, 'yyyy-MM-dd')}">2024-01-01</small>
                    </div>
                    <div class="d-flex w-100 justify-content-start mb-3">
                        <img class="float-start img-thumbnail me-3" style="width: 130px; height: 130px; object-fit: cover;"
                             alt="..." th:if="${community.imageName == 'default.jpg'}" th:src="|/images/community/${community.imageName}|">
                        <img class="float-start img-thumbnail me-3" style="width: 130px; height: 130px; object-fit: cover;"
                             alt="..." th:if="${community.imageName != 'default.jpg'}" th:src="@{${community.imageName}}">
                        <p class="mb-1 text-secondary" style="height: 76px;
                                                              display: -webkit-box;
                                                              overflow: hidden;
                                                              text-overflow: ellipsis;
                                                              -webkit-box-orient: vertical;
                                                              -webkit-line-clamp: 3;" id="communityContent">
                            <script th:inline="javascript">
                                /* Thymeleaf에서 content 변수를 가져와서 JavaScript 변수에 할당 */
                                var content = /*[[${community.content}]]*/'';
                                /* HTML 태그를 제거하는 정규식 */
                                var contentWithoutTags = content.replace(/<[^>]+>/g, '');
                                /* 태그가 제거된 내용을 출력 */
                                document.write(contentWithoutTags);
                            </script>
                        </p>
                    </div>
                    <div class="d-flex w-100 justify-content-between mb-2">
                        <div>
                            <small class="fw-bold">홍길동</small>
                        </div>
                        <div>
                            <small>👀</small>
                            <small th:text="${community.viewCount}">7</small>
                            <small>|</small>
                            <small>❤️</small>
                            <small th:text="${community.likeCount}">7</small>
                        </div>
                    </div>
                </a>
            </th:block>
        </div>

        <!-- 검색, 글쓰기 버튼 영역 -->
        <div class="d-flex justify-content-between my-3">
            <!-- 검색 영역 -->
            <form id="form-search" class="row row-cols-sm-auto justify-content-start align-items-center">
                <input type="hidden" name="channelNo" value="" />
                <input type="hidden" name="page" value="" />
                <input type="hidden" name="rows" value="" />
                <input type="hidden" name="sort" value="" />
                <div class="col-12">
                    <select class="form-select" name="opt">
                        <option value="">선택</option>
                        <option value="title">제목</option>
                    </select>
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" name="keyword" value="" />
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary">검색</button>
                </div>
            </form>
            <!-- 글쓰기 버튼 -->
            <a class="btn btn-outline-primary" th:href="@{/community/create}">글쓰기</a>
        </div>

        <!-- 페이지 네비게이션바 -->
        <div class="row mb-3">
            <div class="col-12">
                <div>
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a th:href="@{/}" class="page-link">이전</a>
                        </li>
                        <li class="page-item">
                            <a th:href="@{/}" class="page-link">1</a>
                        </li>
                        <li class="page-item">
                            <a th:href="@{/}" class="page-link">다음</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
</html>