<div th:fragment="footer-fragment" class="container-fluid">
    <hr>
    <!-- 첫줄 -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="row">
            <div class="col-12">
                <div class="col" style="font-size: small">
                    <ul class="nav text-dark justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/cs/notice/list}">공지사항</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/cs/faq/list}">자주묻는질문</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/community/list/1}">커뮤니티</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="me-4">
            <a href="https://ryuneng.notion.site/Project-Final-88bf72f9c08c4bcab952109aa501faa0?pvs=4" class="text-dark text-decoration-none small" target="_blank">
                About <i class="bi bi-box-arrow-up-right"></i>
            </a>
        </div>
    </div>

    <!-- 상호명 이하 -->
    <div class="ms-3 mb-5">
        <span class="text-secondary" style="font-size: small">(주)룸메이크 | 서울특별시 종로구 율곡로10길 105 디아망 4F</span><br>
        <p class="text-secondary" style="font-size: small">Copyright 2024. 룸메이크 Co. All rights reserved.</p>
    </div>
</div>
