<div th:fragment="navbar-fragment" class="container-fluid">
    <!-- 최상단 내비게이션 바 (로그인, 회원가입 등) -->
    <div class="row">
        <div class="col-12">
            <div class="col small mb-2">
                <ul class="nav text-dark justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">고객센터</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#" target="_blank">판매자센터</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 내비게이션 바 (로고, 검색, 마이페이지 등) -->
    <div class="d-flex justify-content-between align-items-center">
        <!-- 좌측 로고, 메뉴 -->
        <div class="ms-3 d-flex flex-row align-items-center">
            <div class="me-3">
                <a class="navbar-brand" href="http://localhost"><img th:src="@{/images/logo.png}" style="width: 100px; height: 30px"></a>
            </div>
            <div>
                <ul class="nav justify-content-start fw-bold" style="font-size: large">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">쇼핑</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/community/list}" id="link-community">커뮤니티</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/event/list}">이벤트</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 통합검색 -->
        <div>
            <form class="d-flex">
                <div class="me-2" style="width: 550px">
                    <input class="form-control" type="search" placeholder="통합검색" aria-label="Search">
                </div>
                <div>
                    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
        <!-- 우측 마이페이지, 장바구니, 알림 -->
        <div class="me-3">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">
                        <i class="bi bi-person-circle h4"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark position-relative" href="#">
                        <i class="bi bi-cart2 h4"></i>
                        <span class="position-absolute translate-middle badge border border-light rounded-circle bg-primary"><span class="small">2</span></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark position-relative" href="#">
                        <i class="bi bi-bell h4"></i>
                        <span class="position-absolute translate-middle badge border border-light rounded-circle bg-danger p-1"><span class="visually-hidden">unread messages</span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row d-none" id="submenu-community">
        <div class="col-12">
            <div class="col small mb-2">
                <ul class="nav text-dark justify-content-start">
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/}">집들이</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/}">노하우</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/}">채널</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<script>
$(function() {
    $("#link-community").hover(function() {
        $("#submenu-community").show();
    }, function() {
        $("#submenu-community").hide();
    });
})
</script>
</div>
