<div th:fragment="sidebar-admin-fragment">
    <ul>
        <li><a th:href="@{/admin/management/notice}" style="text-decoration:none;color: black">공지</a></li>
        <li><a th:href="@{/admin/management/faq}" style="text-decoration:none;color: black">자주묻는질문</a></li>
        <li><a th:href="@{/admin/management/qna}" style="text-decoration:none;color: black">문의사항</a></li>
        <li><a th:href="@{/admin/management/banner}" style="text-decoration:none;color: black">배너</a></li>
        <li><a th:href="@{/admin/management/complaint}" style="text-decoration:none;color: black">신고</a></li>
    </ul>
</div>