<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='management'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h6>고객 문의사항</h6>
            <div class="row mb-3">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>처리상태</th>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>작성일자</th>
                        <th>작성자</th>
                        <th>답변일자</th>
                        <th>답변 작성자</th>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>미답변</td>
                        <td>재고</td>
                        <td>재고확인해주세요</td>
                        <td>2024년 4월 10일</td>
                        <td>아무개</td>
                        <td>2024년 4월 11일</td>
                        <td>김유신</td>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <h6>고객문의 내용 보기</h6>
                    <table class="table table-bordered" style="width: 100%;">
                        <tbody>
                        <tr>
                            <th>접수번호</th>
                            <td>11</td>
                            <th>카테고리</th>
                            <td>재고</td>
                        </tr>
                        <tr>
                            <th>접수일자</th>
                            <td>2024년4월2일</td>
                            <th>질문자 회원번호</th>
                            <td>235235</td>
                        </tr>
                        <tr>
                            <th>처리일자</th>
                            <td> -</td>
                            <th>답변상태</th>
                            <td>미응답</td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td colspan="3">재고있나요?</td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td colspan="3">
                                <textarea rows="5" style="width:100%; border: 0;">재고가있는지궁금한데알려주실수있나요어쩌고저쩌고문의사항</textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <form class="border bg-light p-3">
                        <div class="list-group">
                            <div class="form-group mb-3">
                                <label class="form-label">문의 카테고리</label>
                                <select class="form-select" name="cat">
                                    <option>배송</option>
                                    <option>주문</option>
                                    <option>환불</option>
                                    <option>취소</option>
                                </select>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="form-group mb-3">
                                <label class="form-label">미응답 문의</label>
                                <select class="form-select" name="cat">
                                    <option>문의1 언제답해주나</option>
                                    <option>문의인데 언제답해주나</option>
                                    <option>문의333언제답해주나</option>
                                    <option>문의43456언제답해주나</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">답변 내용</label>
                            <textarea rows="5" class="form-control" placeholder="답변은 수정이 어려우니 신중히 작성해야 합니다."></textarea>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>