<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>로그인 폼</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center" style="margin-top: 30px; margin-bottom: 20px;">
                <a class="logo" href="http://localhost"><img style="width: 200px; height: 60px" th:src="@{/images/logo.png}"></a>
            </div>
            <div class="d-flex justify-content-center">
                <form class="w-50" method="post" th:action="@{/login}">
                    <div class="form-group mb-3">
                        <input class="form-control w-100" id="email" placeholder="이메일" required type="text">
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control w-100" id="password" placeholder="비밀번호" required type="password">
                    </div>
                    <button class="btn btn-primary w-100" type="submit">로그인</button>
                </form>
            </div>
            <div class="text-center mt-3" style="font-size: 14px; font-weight: bold;">
                <span>비밀번호 재설정</span>
                <span>회원가입</span>
            </div>
            <div class="text-center mt-4">
                <p class="fw-light" style="color: grey; font-size: 12px;">SNS계정으로 간편 로그인/회원가입</p>
            </div>
            <div class="text-center mt-3">
                <a class="naver" href="" style="margin: 0 10px;"><img style="width: 38px; height: 38px" th:src="@{/images/login/btn-naver.png}"></a>
                <a class="kakao" href="" style="margin: 0 10px;"><img style="width: 38px; height: 38px" th:src="@{/images/login/btn-kakao.png}"></a>
                <a class="google" href="" style="margin: 0 10px;"><img style="width: 38px; height: 38px" th:src="@{/images/login/btn-google.png}"></a>
            </div>
            <div class="text-center mt-3">
                <p class="fw-light" style="color: grey; font-size: 13px;">로그인에 문제가 있으신가요?</p>
            </div>
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>
