<html lang="ko" layout:decorate="~{layout/mypage-base}" th:with="category='프로필'" th:attr="data-category='프로필',data-sub-category='커뮤니티'">
<style>
    .community p {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
</style>
<div layout:fragment="content" class="container my-5" style="margin: 40px auto;">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <!-- 비밀번호, 비밀번호 확인, 닉네임, 추천인 입력란 -->
            <form th:action="@{/user/changePwd}" th:object="${passwordChangeForm}" method="post" id="passwordChangeForm">
                <div class="form-group my-3">
                    <label for="currentPassword">현재 비밀번호</label>
                    <input type="currentPassword" class="form-control" id="currentPassword" name="currentPassword" placeholder="사용 중인 비밀번호를 입력해주세요. " required/>
                    <small id="currentPasswordError" class="text-danger"></small>
                    <small class="text-danger"></small>
                </div>
                <div class="form-group my-3">
                    <label for="newPassword">새 비밀번호</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="영문자/숫자/특수문자(!@#$%^&*_-) 혼용 8자 이상 16자이하" required/>
                    <small id="newPasswordError" class="text-danger"></small>
                    <small class="text-danger"></small>
                </div>
                <div class="form-group mb-3">
                    <label for="confirmPassword">새 비밀번호 확인</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="영문자/숫자/특수문자(!@#$%^&*_-) 혼용 8자 이상 16자이하" required/>
                    <small id="confirmPasswordError" class="text-danger"></small>
                    <small class="text-danger"></small>
                </div>
                <!-- 버튼 -->
                <div class="mb-5 d-flex justify-content">
                    <button type="submit" class="btn btn-primary flex-grow-1 ms-2">회원정보 수정</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script layout:fragment="script" type="text/javascript">

    $(document).ready(function() {

        // 현재 비밀번호 입력란 유효성 검사
        $("#currentPassword").on('input', function() {
            validatePassword();
        }).focusout(function() {
            if (!$(this).val().trim()) {
                $("#currentPasswordError").text("필수 입력 항목입니다.");
            } else {
                validatePassword();
            }
        });


        // 새 비밀번호 입력란 유효성 검사
        $("#newPassword").on('input', function() {
            validateNewPassword();
        }).focusout(function() {
            if (!$(this).val().trim()) {
                $("#newPasswordError").text("필수 입력 항목입니다.");
            } else {
                validateNewPassword();
            }
        });

        // 비밀번호 확인 입력란 유효성 검사
        $("#confirmPassword").on('input', function() {
            validateConfirmPassword();
        }).focusout(function() {
            if (!$(this).val().trim()) {
                $("#confirmPasswordError").text("필수 입력 항목입니다.");
            } else {
                validateConfirmPassword();
            }
        });

        // 현재 비밀번호 유효성 검사 함수
        function validatePassword() {
            var password = $("#password").val().trim();
            if (!password) {
                $("#passwordError").text("필수 입력 항목입니다.");
                return false;
            } else {
                $("#passwordError").text("");
                return true;
            }
        }

        // 새 비밀번호 유효성 검사 함수
        function validateNewPassword() {
            var newPassword = $("#newPassword").val().trim();
            if (!newPassword) {
                $("#newPasswordError").text("필수 입력 항목입니다.");
                return false;
            } else if (newPassword.length < 8 || newPassword.length > 16) {
                $("#newPasswordError").text("비밀번호는 최소 8글자 이상~16자 이하만 가능합니다.");
                return false;
            } else if (!/(?=.*[0-9])(?=.*[a-zA-Z])(?=.*\W)(?=\S+$).{8,16}/.test(newPassword)) {
                $("#newPasswordError").text("비밀번호는 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.");
                return false;
            } else {
                $("#newPasswordError").text("");
                return true;
            }
        }

        // 비밀번호 확인 유효성 검사 함수
        function validateConfirmPassword() {
            var confirmPassword = $("#confirmPassword").val().trim();
            if (!confirmPassword) {
                $("#confirmPasswordError").text("필수 입력 항목입니다.");
                return false;
            } else if (confirmPassword !== $("#newPassword").val().trim()) {
                $("#confirmPasswordError").text("비밀번호가 일치하지 않습니다.");
                return false;
            } else {
                $("#confirmPasswordError").text("");
                return true;
            }
        }

        // 폼 제출 이벤트 핸들러
        $("#passwordChangeForm").submit(function(event) {

            // 비밀번호, 비밀번호 확인, 닉네임 입력란 유효성 검사
            let result1 = validatePassword();
            let result3 = validateNewPassword();
            let result2 = validateConfirmPassword();

            return result1 && result2 && result3;
        })
    });
</script>