<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage-base}" th:with="category='나의쇼핑'"
      th:attr="data-category='나의쇼핑',data-sub-category='주문 목록'">

<div class="container my-4" layout:fragment="content">
    <div class="container my-3">
        <form id="form">
            <input type="hidden" name="page" th:value="${param.page}"/>
            <div class="row">
                <!-- 첫번째 행 (추천코드, 포인트, 회원등급) -->
                <div class="col" style="border: 1px solid lightgray; text-align: center; display: flex; align-items: center; justify-content: center;">
                    <p style="font-weight: bold; margin: 0;">나의 추천코드
                        <span th:text="${orderInfo.getUniqueRecommendCode()}" style="color: grey;">XQRW12T3</span>
                    </p>
                </div>
                <div class="col" style="border: 1px solid lightgray; text-align: center; padding: 20px; display: flex; align-items: center; justify-content: center;">
                    <a th:href="@{/user/point}" class="text-decoration-none">
                        <i class="bi bi bi-coin" style="color: grey;"></i>
                        <span style="color: black; font-weight: bold;">포인트
                            <span th:text="${#numbers.formatInteger(orderInfo.getPoint(), 1, 'COMMA')}" style="color: cornflowerblue;">1,000</span>P
                        </span>
                    </a>
                </div>
                <div class="col" style="border: 1px solid lightgray; text-align: center; padding: 20px;">
                    <button type="button" class="btn" onclick="showUserGrade()">
                        <i class="bi bi-patch-check" style="color: grey;"></i>
                        <span style="color: black; font-weight: bold;">회원등급
                            <span th:text="${orderInfo.getUserGradeName()}" style="color: cornflowerblue;">BRONZE</span>
                        </span>
                    </button>
                </div>
            </div>
            <!-- 두번째 행의 주문상태 영역 시작 -->
            <div class="row mt-5 mb-2">
                <div class="col d-flex justify-content-start align-items-center" id="btn-order-status">
                    <input type="hidden" name="statusId" th:value="${param.statusId}"/>
                    <button type="button" id="btn-status-id-1" data-order-status="1" class="btn btn-sm btn-outline-secondary me-2 btn-status">결제완료</button>
                    <button type="button" id="btn-status-id-2" data-order-status="2" class="btn btn-sm btn-outline-secondary me-2 btn-status">배송중</button>
                    <button type="button" id="btn-status-id-3" data-order-status="3" class="btn btn-sm btn-outline-secondary me-2 btn-status">배송완료</button>
                    <button type="button" id="btn-status-id-4" data-order-status="4" class="btn btn-sm btn-outline-secondary me-2 btn-status">구매확정</button>
                    <button type="button" id="btn-status-id-5" data-order-status="5" class="btn btn-sm btn-outline-secondary me-2 btn-status">취소</button>
                </div>
            </div>
            <!-- 두번째 행의 주문상태 영역 끝 -->
            <!-- 두번째 행의 날짜 필터 영역 시작 -->
            <div class="row mt-2 mb-5">
                <div class="col d-flex justify-content-start align-items-center">
                    <button type="button" id="btn-all-order-date" class="btn btn-sm btn-secondary me-2 btn-range">최대(5년)</button>
                    <button type="button" id="btn-one-months-date" class="btn btn-sm btn-outline-secondary me-2 btn-range">1개월</button>
                    <button type="button" id="btn-three-months-date" class="btn btn-sm btn-outline-secondary me-2 btn-range">3개월</button>
                    <button type="button" id="btn-six-months-date" class="btn btn-sm btn-outline-secondary me-2 btn-range">6개월</button>
                    <button type="button" id="btn-one-years-date" class="btn btn-sm btn-outline-secondary me-2 btn-range">1년</button>

                    <input type="date" name="beginDate" class="form-control me-2" style="width: 150px" th:value="${param.beginDate}">
                    <input type="date" name="endDate" class="form-control me-2" style="width: 150px" th:value="${param.endDate}">

                    <button type="button" id="btn-range-order-date" class="btn btn-sm btn-secondary" style="height: 30px;">조회</button>
                </div>
            </div>
            <!-- 두번째 행의 날짜 필터 영역 끝 -->
            <!-- 주문 리스트 시작 -->
            <div class="row mt-3 small">
                <div class="col">
                    <table class="table">
                        <colgroup>
                            <col style="width: 11%;">
                            <col style="width: 11%;">
                            <col style="width: 50%;">
                            <col style="width: 10%;">
                            <col style="width: 9%;">
                            <col style="width: 9%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>주문일</th>
                            <th>주문번호</th>
                            <th>상품정보</th>
                            <th>주문금액</th>
                            <th>주문상태</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orderList}">
                            <td th:text="${#dates.format(order.createDate, 'yyyy.MM.dd HH:mm')}">2024.04.01</td>
                            <td th:text="${order.id}">20240407-014</td>
                            <td>
                                <div th:each="item : ${order.orderItems}" class="mb-2">
                                    <a th:href="@{/store/detail/{id}(id=${item.product.id})}" class="link-underline link-underline-opacity-0 text-dark">
                                        <img th:src="@{${item.imageName}}" style="width: 80px; height: 80px">
                                    </a>
                                    <div style="display: inline-block; vertical-align: top;">
                                        <p th:text="${item.product.name}">상품명</p>
                                        <div class="text-secondary mt-2" style="font-size: 12px">
                                            사이즈: <span th:text="${item.productDetail.size}">슈퍼싱글SS 프레임만</span>
                                            / 색상: <span th:text="${item.productDetail.color}">화이트</span>
                                        </div>
                                        <span th:text="${item.amount}"></span>개
                                    </div>
                                </div>
                            </td>
                            <td><span th:text="${#numbers.formatInteger(order.totalPrice, 1, 'COMMA')}">420,000</span>원</td>
                            <td>
                                <span th:text="${order.status.name}">배송중</span>
                                <div th:if="${order.status.id == 2 or order.status.id == 3}" class="mt-2">
                                    <div class="text-danger fw-bold mb-1">🚀 송장번호</div>
                                    <div th:text="${order.invoiceNumber != null} ? ': ' + ${order.invoiceNumber} : ''"></div>
                                </div>
                            </td>
                            <td>
                                <a th:href="@{|/order/detail/${order.id}|}" class="btn btn-primary btn-sm" style="margin-left: 30px;">
                                    상세
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 주문 리스트 끝 -->
            <!-- 페이징 처리 -->
            <div class="row mt-3 mb-5">
                <!-- 페이징 영역 -->
                <div class="col" th:if="${paging.totalRows ne 0}">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${paging.first ? 'disabled' : ''}">
                                <a th:href="@{|/user/myorder?page=${paging.currentPage - 1}|}"
                                   class="page-link" th:attr="data-page=${paging.currentPage - 1}">이전</a>
                            </li>
                            <th:block th:each="num : ${#numbers.sequence(paging.beginPage, paging.endPage)}">
                                <li class="page-item" th:classappend="${paging.currentPage == num ? 'active' : ''}">
                                    <a th:href="@{|/user/myorder?page=${num}|}"
                                       class="page-link" th:classappend="${paging.currentPage == num ? 'active' : ''}"
                                       th:text="${num}" th:attr="data-page=${num}"></a>
                                </li>
                            </th:block>
                            <li class="page-item" th:classappend="${paging.last ? 'disabled' : ''}">
                                <a th:href="@{|/user/myorder?page=${paging.currentPage + 1}|}"
                                   class="page-link" th:attr="data-page=${paging.currentPage + 1}">다음</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </form>
    </div>
</div>
<div layout:fragment="modal" class="modal" tabindex="-1" id="modal-user-grade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="text-center mb-4">
                    <h4 class="fw-bold">회원등급 안내</h4>
                </div>
                <table class="table mb-4">
                    <colgroup>
                        <col style="width: 25%">
                        <col style="width: 50%">
                        <col style="width: 25%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>등급</th>
                        <th>결제금액</th>
                        <th>적립률(혜택)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>BRONZE</td>
                        <td>~ 300,000원</td>
                        <td>1%</td>
                    </tr>
                    <tr>
                        <td>SILVER</td>
                        <td>300,000 ~ 500,000원</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td>GOLD</td>
                        <td>500,000 ~ 1,000,000원</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>VIP</td>
                        <td>1,000,000원 ~</td>
                        <td>10%</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-secondary" style="font-size: small">
                    <ul>
                        <li class="mb-1">회원등급은 최근 3개월 기준 실 결제금액에 따라 결정됩니다.</li>
                        <li class="mb-1">변경된 회원등급은 매월 1일 반영됩니다.</li>
                        <li class="mb-1">회원등급 기준 및 혜택은 룸메이크 운영 정책에 따라 변경될 수 있습니다.</li>
                        <li class="mb-1">포인트 적립은 구매확정 시, 등급에 따라 차등지급됩니다.</li>
                        <li>실 결제금액 = 상품금액 - 상품 할인금액 - 포인트 사용금액</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" type="text/javascript">
    const gradeModal = new bootstrap.Modal($('#modal-user-grade'));

    let query = new URLSearchParams(location.search)
    let paramValue = query.get("error");
    if (paramValue === 'existreview') {
        alert("한 상품에 하나의 리뷰만 등록할 수 있습니다");
    }

    function showUserGrade() {
        gradeModal.show();
    }

    // 상단 주문상태별 조회
    $("#btn-order-status button").click(function(event) {
        event.preventDefault();
        let statusId = $(this).attr("data-order-status");
        $("input[name=statusId]").val(statusId);
        $("input[name=page]").val(1); // 버튼 클릭 시 페이지는 항상 1로 초기화
        $(this).closest("form").trigger('submit');
    });

    // 기간별 조회
    $("#btn-range-order-date").click(function(event) {
        event.preventDefault();
        $("input[name=page]").val(1);
        $(this).closest("form").trigger('submit');
    });

    let currentDate = moment().format('YYYY-MM-DD');

    let $beginDate = $("input[name=beginDate]");
    let $endDate = $("input[name=endDate]");

    $("#btn-all-order-date").click(function(event) {
        event.preventDefault();
        $beginDate.val(moment().subtract(5, 'Y').format('YYYY-MM-DD'));
        $endDate.val(currentDate);
    });

    $("#btn-one-months-date").click(function(event) {
        event.preventDefault();
        $beginDate.val(moment().subtract(1, 'M').format('YYYY-MM-DD'));
        $endDate.val(currentDate);
    });

    $("#btn-three-months-date").click(function(event) {
        event.preventDefault();
        $beginDate.val(moment().subtract(3, 'M').format('YYYY-MM-DD'));
        $endDate.val(currentDate);
    });

    $("#btn-six-months-date").click(function(event) {
        event.preventDefault();
        $beginDate.val(moment().subtract(6, 'M').format('YYYY-MM-DD'));
        $endDate.val(currentDate);
    });

    $("#btn-one-years-date").click(function(event) {
        event.preventDefault();
        $beginDate.val(moment().subtract(1, 'Y').format('YYYY-MM-DD'));
        $endDate.val(currentDate);
    });

    if ($beginDate.val() == "" && $endDate.val() == "") {
        $("#btn-all-order-date").trigger('click');
    }

    // 페이지 클릭
    $(".pagination a").click(function(event) {
        event.preventDefault();
        $("input[name=page]").val($(this).attr("data-page"));
        $('form[id=form]').trigger('submit');
    });

</script>
</html>
