<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<div layout:fragment="content" class="container mt-5" style="max-width: 800px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="mb-3" style="font-size: 15px;">
                <span>가입한 이메일 주소를 입력해주세요.</span>
            </div>
            <form th:action="@{/resetpwd}" method="post">
                <div class="form-group my-2 input-group">
                    <input type="text" class="form-control" id="email" placeholder="이메일" required style="width: 75%;"/>
                    <button type="button" class="btn btn-secondary">확인</button>
                </div>
                <button type="submit" class="btn btn-primary w-100" style="">이메일로 인증코드 받기
                </button>
            </form>
            <div class="p-3 text-center mt-3 mb-5" style="background-color: #eee;">
                <p class="fw-light" style="color: grey; font-size: 13px;">회원가입 시 입력한 정보가 기억나지 않는다면?</p>
                <p style="color:dodgerblue; font-size: 13px;">고객센터 문의하기(02-1111-1111)</p>
            </div>
        </div>
    </div>
</div>
