<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>비밀번호 재설정 폼</title>

</head>
<body>
<div class="container mt-5" style="max-width: 800px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center" style="margin-top: 30px; margin-bottom: 20px;">
                <a class="logo" href=""><img th:src="@{/images/logo.png}" style="width: 220px; height: 70px"></a>
            </div>
            <form th:action="@{/reset-passwordform.html}" method="post">
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="resetpassword" placeholder="새 비밀번호" required  style="width: 75%; margin: auto;">
                    <input type="password" class="form-control" id="confirmpassword" placeholder="새 비밀번호 확인" required  style="width: 75%; margin: auto;">
                </div>
                <button type="submit" class="btn btn-primary btn-block"  style="width: 75%; margin: auto;">비밀번호 변경하기</button>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
<script>

</script>
</body>
</html>
