<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입 폼</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>
<!-- 회원가입 폼 네비바-->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="http://localhost">
        <img th:src="@{/images/home/logo.png}" width="150px" height="45px" class="d-inline align-top">
    </a>
</nav>
<!--회원가입 폼-->
<div class="container mt-5" style="max-width: 770px">
    <h4>회원가입</h4>
    <div class="text-center mt-3" style="margin: 0 10px;">
        <p class="fw-light" style="color: grey; font-size: 13px;">SNS계정으로 간편하게 회원가입</p>
        <a class="naver" href="" style="margin: 0 10px;"><img th:src="@{/images/login/btn-naver.png}" style="width: 40px; height: 40px"></a>
        <a class="kakao" href="" style="margin: 0 10px;"><img th:src="@{/images/login/btn-kakao.png}" style="width: 40px; height: 40px"></a>
        <a class="google" href="" style="margin: 0 10px;"><img th:src="@{/images/login/btn-google.png}" style="width: 40px; height: 40px"></a>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="p-3" th:action="@{/signup}" method="post" th:object="${userSignupForm}">
                <div class="form-group">
                    <label for="email">이메일</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="이메일" required>
                        <div>
                            <p style="margin: 0 10px;">@</p>
                        </div>
                        <select class="form-select" id="domainSelect">
                            <option>선택하세요</option>
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="daum.net">daum.net</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-block" style="width: 100%; margin: auto;">이메일
                            인증하기
                        </button>
                    </div>
                </div>
                <div class="form-group my-3">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="비밀번호" required/>
                </div>
                <div class="form-group mb-3">
                    <label for="password">비밀번호 확인</label>
                    <input type="password" class="form-control" id="confirm_password" th:field="*{confirmPassword}" placeholder="비밀번호확인" required/>
                </div>
                <div class="form-group mb-3">
                    <label for="password">닉네임</label>
                    <input type="nickname" class="form-control" id="nickname" th:field="*{nickname}" placeholder="닉네임" required/>
                </div>
                <!-- 이용약관-->
                <div class="border p-3">
                    <div>
                        <input type="checkbox" id="allCheckbox" onclick="toggleCheckboxes(this);">
                        <label for="allCheckbox">전체동의</label>
                    </div>
                    <hr>
                    <div>
                        <input type="checkbox" id="checkbox1" class="terms-checkbox">
                        <label for="checkbox1">이용약관 (필수)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="checkbox2" class="terms-checkbox">
                        <label for="checkbox2">개인정보수집 및 이용동의 (필수)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="checkbox3" class="terms-checkbox">
                        <label for="checkbox3">마케팅 정보 수신 동의 (선택)</label>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <button type="submit" class="btn btn-primary btn-block" style="width: 100%; margin: auto;">회원가입 하기
                    </button>
                </div>
            </form>
            <div class="text-center mt-3 mb-5">
                <span class="fw-light" style="font-size: 13px;">이미 아이디가 있으신가요?</span>
                <a href="/login" style="text-decoration: none;"><span class="fw-light" style="font-size: 13px;">로그인</span></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
