<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입 폼</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<!-- 회원가입 폼 네비바-->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="http://localhost">
        <img th:src="@{/images/home/logo.png}" width="150px" height="45px" class="d-inline align-top">
    </a>
</nav>
<!--회원가입 폼-->
<div class="container mt-5" style="max-width: 770px">
    <h4>회원가입</h4>
    <div class="text-center mt-3" style="margin: 0 10px;">
        <p class="fw-light" style="color: grey; font-size: 13px;">SNS계정으로 간편하게 회원가입</p>
        <a class="naver" href="" style="margin: 0 10px;"><img th:src="@{/images/login/btn-naver.png}" style="width: 40px; height: 40px"></a>
        <a class="kakao" href="" style="margin: 0 10px;"><img th:src="@{/images/login/btn-kakao.png}" style="width: 40px; height: 40px"></a>
        <a class="google" href="" style="margin: 0 10px;"><img th:src="@{/images/login/btn-google.png}" style="width: 40px; height: 40px"></a>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="p-3" th:action="@{/user/signup}" method="post" th:object="${userSignupForm}" id="signupForm">
                <div class="form-group">
                    <!-- 이메일 아이디 -->
                    <label for="emailId">이메일</label>
                    <div class="input-group mb-2" style="display: flex;">
                        <input type="text" class="form-control" id="emailId" name="email1" placeholder="아이디" required>
                        <div>
                            <p style="margin: 0 10px;">@</p>
                        </div>
                        <!-- 도메인 드롭다운 -->
                        <select class="form-control" id="emailDomain" name="email2" required>
                            <option>선택하세요</option>
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="custom">직접 입력</option>
                        </select>
                        <!-- 도메인 직접입력 -->
                        <div id="customDomain" style="display:none;" class="position-relative">
                            <input type="text" class="form-control" id="customEmail" name="email2" placeholder="입력하세요" disabled>
                            <button type="button" class="btn-close position-absolute top-50 translate-middle-y end-0" aria-label="Close" style="font-size: 0.6rem; margin-right: 10px;"></button>
                        </div>
                    </div>
                    <!-- 이메일 오류 메세지-->
                    <div class="input-group">
                        <small class="text-danger" th:if="${#fields.hasErrors('email1')}" th:errors="*{email1}"></small>
                        <small id="emailIdError" class="text-danger"></small>
                        <small id="emailDomainError" class="text-danger"></small>
                    </div>
                    <!-- 이메일 인증 버튼 및 인증 코드 입력란-->
                    <div>
                        <button type="button" class="btn btn-primary btn-block" style="width: 100%; margin: auto;" id="verifyEmailBtn">이메일 인증하기</button>
                        <div id="emailVerification" style="display: none; position: relative;" class="my-3">
                            <input type="text" class="form-control" id="verificationCode" placeholder="인증코드 입력" style="padding-right: 60px;">
                            <div style="position: absolute; top: 20%; right: 10px; transform: translateY(-50%); color: red;">
                                <span id="timer">03:00</span>
                            </div>
                            <small class="text-danger" id="verificationCodeError" style="display: none;">잘못된 인증 코드입니다.</small>
                            <button type="button" class="btn btn-primary btn-block mt-2" style="width: 100%; margin-top: 8px;" id="confirmVerificationBtn">확인</button>
                        </div>
                    </div>
                </div>
                <!-- 비밀번호, 비밀번호 확인, 닉네임, 추천인 입력란 -->
                <div class="form-group my-3">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="비밀번호" required/>
                    <small id="passwordError" class="text-danger"></small>
                    <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                </div>
                <div class="form-group mb-3">
                    <label for="confirmPassword">비밀번호 확인</label>
                    <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" placeholder="비밀번호확인" required/>
                    <small id="confirmPasswordError" class="text-danger"></small>
                    <small class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></small>
                </div>
                <div class="form-group mb-3">
                    <label for="nickname">닉네임</label>
                    <input type="text" class="form-control" id="nickname" th:field="*{nickname}" placeholder="닉네임" required/>
                    <small id="nicknameError" class="text-danger"></small>
                    <small class="text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></small>
                </div>
                <div class="form-group mb-3">
                    <label for="optionRecommendCode">추천인</label>
                    <input type="text" class="form-control" id="optionRecommendCode" th:field="*{optionRecommendCode}" placeholder="추천인 코드를 입력하세요(선택)"/>
                    <small id="optionRecommendCodeError" class="text-danger"></small>
                    <small class="text-danger" th:if="${#fields.hasErrors('optionRecommendCode')}" th:errors="*{optionRecommendCode}"></small>
                </div>
                <!-- 이용약관 -->
                <div class="border p-3">
                    <div>
                        <input type="checkbox" id="checkbox-all">
                        <label for="checkbox-all">전체동의</label>
                    </div>
                    <hr>
                    <div th:each="term : ${terms}" style="display: flex; align-items: center; justify-content: space-between;">
                        <div>
                            <input type="checkbox" class="terms-checkbox" th:id="'checkbox' + ${term.id}" th:name="termAgreements + ${term.id}" value="Y">
                            <label th:for="'checkbox' + ${term.id}" th:text="${term.title}">
                            </label>
                            <span th:class="${term.requireYn == 'Y' ? 'text-primary' : 'text-secondary'}"
                                  th:text="' ' + ${term.requireYn == 'Y' ? '(필수)' : '(선택)'}">
                        </span>
                        </div>
                        <a th:href="@{|/user/terms/${term.id}|}" class="text-secondary">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div id="termsError" class="text-danger" style="display: none;">필수 항목에 동의해주세요.</div>
                <!-- 회원가입 버튼 -->
                <div style="margin-top: 20px;">
                    <button type="submit" class="btn btn-primary btn-block" style="width: 100%; margin: auto;">회원가입 하기
                    </button>
                </div>
            </form>
            <div class="text-center mt-3 mb-5">
                <span class="fw-light" style="font-size: 13px;">이미 아이디가 있으신가요?</span>
                <a href="/login" style="text-decoration: none;"><span class="fw-light" style="font-size: 13px;">로그인</span></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // 전역 변수로 전체 이메일 주소 저장
        var email;

        // 이메일 아이디 입력란 유효성 검사
        $("#emailId").on('input', function() {
            validateEmailId();
        }).focusout(function() {
            // 입력란이 비어 있을 경우
            if (!$(this).val().trim()) {
                $("#emailIdError").text("필수 입력 항목입니다.");
            } else {
                // 입력이 있는 경우 유효성 검사 수행
                validateEmailId();
            }
        });

        // 이메일 아이디 유효성 검사 함수
        function validateEmailId() {
            var emailId = $("#emailId").val().trim();
            var domain = $("#emailDomain").val().trim();

            // 도메인이 선택되었거나 도메인을 입력한 경우
            if (domain !== "선택하세요" || isValidDomain(emailId)) {
                // 입력이 있는 경우 유효성 검사
                if (!emailId) {
                    $("#emailIdError").text("필수 입력 항목입니다.");
                } else if (!/^[^\s@]+$/i.test(emailId)) {
                    $("#emailIdError").text("이메일 형식이 올바르지 않습니다.");
                } else {
                    $("#emailIdError").text("");
                }
            } else {
                $("#emailIdError").text("이메일 형식이 올바르지 않습니다.");
            }
        }

        // 입력된 도메인이 유효한지 확인하는 함수
        function isValidDomain(emailId) {
            var domain = emailId.split('@')[1];
            return /^[a-zA-Z0-9]+([.-]?[a-zA-Z0-9]+)*(\.[a-zA-Z]{2,})+$/.test(domain);
        }

        // 이메일 도메인 입력란 및 직접 입력란 유효성 검사
        $("#emailDomain, #customEmail").on('change focusout', function() {
            validateEmailDomain();
            if ($("#emailId").val().trim() === "" && ($("#emailDomain").val() !== "custom" || $("#customEmail").val().trim() !== "")) {
                $("#emailIdError").text("필수 입력 항목입니다.");
            }
        });

        // 이메일 도메인 유효성 검사 함수
        function validateEmailDomain() {
            var domain = $("#emailDomain").val() === "custom" ? $("#customEmail").val().trim() : $("#emailDomain").val().trim();
            if (!domain) {
                $("#emailDomainError").text("이메일 형식이 올바르지 않습니다.");
            } else if (!/^[^\s@]+\.[^\s@]+$/i.test(domain)) {
                $("#emailDomainError").text("이메일 형식이 올바르지 않습니다.");
            } else {
                $("#emailDomainError").text("");
            }
        }

        // 직접 입력 선택 시 입력 필드로 전환
        $("#emailDomain").change(function() {
            var domain = $(this).val();
            if (domain === "custom") {
                $("#customDomain").show().find("#customEmail").prop("disabled", false);
                $("#emailDomain").hide().prop("disabled", true);
                $("#emailIdError").text("");
                $("#emailIdError").hide();
            } else {
                $("#customDomain").hide().find("#customEmail").prop("disabled", true)
                $("#emailDomain").show().prop("disabled", false);
                $("#emailDomainError").text("");
                if ($("#emailId").val().trim() === "") {
                    $("#emailIdError").text("필수 입력 항목입니다.");
                }
                validateEmailId();
                validateEmailDomain();
            }
        });

        // X 버튼 클릭 시 입력란을 다시 드롭다운 메뉴로 변경
        $("#customDomain button").click(function() {
            $("#customDomain").hide().find("#customEmail").prop("disabled", true);
            $("#emailDomain").show().prop("disabled", false).val("선택하세요");
            $("#customEmail").val("");
            $("#emailDomainError").text("");
            $("#emailIdError").text("이메일 ID는 필수 입력 항목입니다.");
            validateEmailId();
            validateEmailDomain();
        });

        // 비밀번호 입력란 유효성 검사
        $("#password").on('input', function() {
            validatePassword();
        }).focusout(function() {
            if (!$(this).val().trim()) {
                $("#passwordError").text("필수 입력 항목입니다.");
            } else {
                validatePassword();
            }
        });

        // 비밀번호 확인 입력란 유효성 검사
        $("#confirmPassword").on('input', function() {
            validateConfirmPassword();
        }).focusout(function() {
            if (!$(this).val().trim()) {
                $("#confirmPasswordError").text("필수 입력 항목입니다.");
            } else {
                validateConfirmPassword();
            }
        });

        // 닉네임 입력란 유효성 검사
        $("#nickname").on('input', function() {
            validateConfirmPassword();
        }).focusout(function() {
            if (!$(this).val().trim()) {
                $("#nicknameError").text("필수 입력 항목입니다.");
            } else {
                validateAndCheckNickname();
            }
        });

        // 비밀번호 유효성 검사 함수
        function validatePassword() {
            var password = $("#password").val().trim();
            if (!password) {
                $("#passwordError").text("필수 입력 항목입니다.");
                return false;
            } else if (password.length < 8 || password.length > 16) {
                $("#passwordError").text("비밀번호는 최소 8글자 이상~16자 이하만 가능합니다.");
                return false;
            } else if (!/(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?=\S+$).{8,16}$/.test(password)) {
                $("#passwordError").text("비밀번호는 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.");
                return false;
            } else {
                $("#passwordError").text("");
                return true;
            }

        }

        // 비밀번호 확인 유효성 검사 함수
        function validateConfirmPassword() {
            var confirmPassword = $("#confirmPassword").val().trim();
            if (!confirmPassword) {
                $("#confirmPasswordError").text("필수 입력 항목입니다.");
                return false;
            } else if (confirmPassword !== $("#password").val().trim()) {
                $("#confirmPasswordError").text("비밀번호가 일치하지 않습니다.");
                return false;
            } else {
                $("#confirmPasswordError").text("");
                return true
            }
        }

        // 닉네임 유효성 검사 및 중복 확인 함수
        function validateAndCheckNickname() {
            var nickname = $("#nickname").val().trim();

            // 닉네임 유효성 검사
            if (!nickname) {
                $("#nicknameError").text("필수 입력 항목입니다.");
                return false;
            } else if (nickname.length === 1) {
                $("#nicknameError").text("2자 이상 입력해주세요.");
                return false;
            } else if (nickname.length > 20) {
                $("#nicknameError").text("20자 이하로 입력해주세요.");
                return false;
            } else if (!/^[ㄱ-ㅎ가-힣a-z0-9-_]{2,20}$/.test(nickname)) {
                $("#nicknameError").text("닉네임은 특수문자를 제외한 2~20자리여야 합니다.");
                return false;
            } else {
                $("#nicknameError").text("");

            }

            // 닉네임 입력란 변경 감지
            $('#nicknameInput').on('input', function() {
                var nickname = $(this).val();

                // 닉네임 중복 확인 요청
                $.ajax({
                    url: '/check-duplicate-nickname',
                    type: 'POST',
                    data: {nickname: nickname},
                    success: function(response) {
                        if (response.duplicate) {
                            $("#nicknameError").text("사용 중인 별명입니다.");
                            $('#submitButton').prop('disabled', true);
                        } else {
                            $("#nicknameError").text("");
                            $('#submitButton').prop('disabled', false);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("서버 오류:", error);
                    }
                });
            });
            return true;
        }

        // 닉네임 입력란 포커스 아웃
        $("#nickname").focusout(function() {
            validateAndCheckNickname();
        });

        // 추천인 코드 입력 필드 유효성 검사
        $('#optionRecommendCode').on('input', function() {
            var recommendCode = $(this).val();
            if (recommendCode.length > 0) {
                $.ajax({
                    url: '/validate-recommend-code',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({recommendCode: recommendCode}),
                    success: function(data) {
                        if (!data.isValid) {
                            $('#optionRecommendCodeError').text('존재하지 않는 추천인 코드입니다.').show();
                        } else {
                            $('#optionRecommendCodeError').hide();
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error validating recommend code:', error);
                    }
                });
            } else {
                $('#optionRecommendCodeError').hide();
            }
        });

        // 전체 동의 체크박스
        $("#checkbox-all").change(function() {
            $(".terms-checkbox").prop('checked', $(this).prop('checked'));
        });

        // 개별 약관 체크박스
        $(".terms-checkbox[type='checkbox']").change(function() {
            var allChecked = $(".terms-checkbox[type='checkbox']").length === $(".terms-checkbox[type='checkbox']:checked").length;
            $("#checkbox-all").prop('checked', allChecked);
        });

        // 이메일 인증 요청 처리 함수
        function requestEmailVerification() {
            if ($("#emailIdError").text() === "" && $("#emailDomainError").text() === "") {
                var emailId = $("#emailId").val().trim();
                var domain = $("#emailDomain").val() === "custom" ? $("#customEmail").val().trim() : $("#emailDomain").val().trim();
                fullEmail = emailId + '@' + domain;

                $.ajax({
                    url: '/send-verification-code',
                    type: 'POST',
                    data: {email: fullEmail},
                    success: function(data) {
                        alert("인증 코드가 전송되었습니다.");
                        $("#emailVerification").show();
                        $("#verifyEmailBtn").prop("disabled", true);
                    },
                    error: function(xhr, status, error) {
                        alert("인증 코드 전송에 실패했습니다. 오류: " + error);
                    }
                });
            }
        }

        // 이메일 인증 버튼 클릭 이벤트
        $("#verifyEmailBtn").click(function() {
            requestEmailVerification();
        });

        // 인증 코드 확인 버튼 클릭 이벤트
        $("#confirmVerificationBtn").click(function() {
            var verificationCode = $("#verificationCode").val();
            $.ajax({
                url: '/verify-email',
                type: 'POST',
                data: {
                    code: verificationCode,
                    email: fullEmail
                },
                success: function(response) {
                    response = JSON.parse(response);
                    if (response.valid) {
                        alert("인증에 성공하였습니다.");
                        $("#emailVerification").hide();
                        $("#verificationCode").hide();
                        $("#confirmVerificationBtn").hide();
                        $("#verifyEmailBtn").text("이메일 인증 완료").prop("disabled", true);
                    } else {
                        alert("인증에 실패하였습니다. 잘못된 인증 코드입니다.");
                    }
                },
                error: function() {
                    alert("인증 과정에서 문제가 발생했습니다.");
                }
            });
        });

        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            var intervalId = setInterval(function() {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.text(minutes + ":" + seconds);

                if (--timer < 0) {
                    clearInterval(intervalId); // 타이머 중지
                    alert("인증 시간이 초과되었습니다.");
                    $("#verifyEmailBtn").prop("disabled", false);
                    $("#emailVerification").hide();
                }
            }, 1000);
        }

        var duration = 180; // 타이머 시간을 설정 (3분)
        var display = $('#timer');
        startTimer(duration, display);

        // 폼 제출 이벤트 핸들러
        $("#signupForm").submit(function(event) {
            // 필수 동의 항목 체크 여부 확인
            var allChecked = $("#checkbox1").is(":checked") && $("#checkbox2").is(":checked");

            if (!allChecked) {
                $("#termsError").show();
                return;
            } else {
                $("#termsError").hide();
            }

            // 비밀번호, 비밀번호 확인, 닉네임 입력란 유효성 검사
            let result1 = validatePassword();
            let result2 = validateConfirmPassword();
            let result3 = validateAndCheckNickname();

            return result1 && result2 && result3;
        })
        
    });
</script>
</body>
</html>
