<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<style layout:fragment="style">
    .btn.btn-xs {
        --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .35rem; --bs-btn-font-size: .75rem;
    }
</style>
<div layout:fragment="content" class="container my-3 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h4 class="fw-bold">장바구니</h4>
            </div>
            <div class="row mb-3">
                <div class="col-9 mb-5" style="font-size: small">
                    <!-- 상품목록 시작 -->
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th style="width: 3%"><input type="checkbox"></th>
                                <th style="width: 8%">전체 2개</th>
                                <th style="width: 60%">상품정보</th>
                                <th style="width: 9%">수량</th>
                                <th style="width: 15%">가격</th>
                                <th style="width: 5%">삭제</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <!-- 상품정보 영역 시작 -->
                                <td>
                                    <div class="d-flex w-100 justify-content-start">
                                        <a href="#" class="link-underline link-underline-opacity-0 text-dark">
                                            <div>
                                                <img th:src="@{/images/home/banner3.jpg}" style="width: 80px; height: 80px">
                                            </div>
                                        </a>
                                        <div class="ms-3 text-start">
                                            <div>
                                                <div style="display: -webkit-box;
                                                          overflow: hidden;
                                                          text-overflow: ellipsis;
                                                          -webkit-box-orient: vertical;
                                                          -webkit-line-clamp: 1;">
                                                    LED조명 통서랍 수납침대 SSQ(매트리스 선택)
                                                </div>
                                                <div>189,000원</div>
                                                <div class="text-secondary mt-2" style="font-size: 12px">상품선택: 슈퍼싱글SS 프레임만 / 색상선택: 화이트</div>
                                            </div>
                                            <div class="mt-2">
                                                <button type="button" class="btn btn-xs" style="border-color: gray;">옵션변경</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <!-- 상품정보 영역 끝 -->
                                <td><input type="number" style="width: 50%" value="1"></td>
                                <td class="fw-bold">189,000원</td>
                                <td><button type="button" class="btn btn-xs text-secondary">x</button></td>
                            </tr>
                            <!-- 두번째 상품 시작 -->
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>2</td>
                                <!-- 상품정보 영역 시작 -->
                                <td>
                                    <div class="d-flex w-100 justify-content-start">
                                        <a href="#" class="link-underline link-underline-opacity-0 text-dark">
                                            <div>
                                                <img th:src="@{/images/home/banner3.jpg}" style="width: 80px; height: 80px">
                                            </div>
                                        </a>
                                        <div class="ms-3 text-start">
                                            <div>
                                                <div style="display: -webkit-box;
                                                          overflow: hidden;
                                                          text-overflow: ellipsis;
                                                          -webkit-box-orient: vertical;
                                                          -webkit-line-clamp: 1;">
                                                    봄맞이 먼지없는 항균 차렵이불세트 SS/Q 12컬러
                                                </div>
                                                <div>47,900원</div>
                                                <div class="text-secondary mt-2" style="font-size: 12px">사이즈: SS 베개세트 / 컬러: 버터옐로우</div>
                                            </div>
                                            <div class="mt-2">
                                                <button type="button" class="btn btn-xs" style="border-color: gray">옵션변경</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <!-- 상품정보 영역 끝 -->
                                <td><input type="number" style="width: 50%" value="2"></td>
                                <td class="fw-bold">95,800원</td>
                                <td><button type="button" class="btn btn-xs text-secondary">x</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 상품목록 끝 -->
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                            <button class="btn btn-xs" style="border-color: gray">선택삭제</button>
                        </div>
                        <div>
                            5만원 이상 구매 시 무료배송
                        </div>
                    </div>
                    <div>
                        <ul>
                            <li>장바구니에 상품은 최대 100개까지 담을 수 있습니다.</li>
                            <li>장바구니 상품은 30일간 보관 후 삭제됩니다.</li>
                        </ul>
                    </div>
                </div>

                <!-- 주문 금액정보 시작 -->
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tr>
                                    <td>총 상품금액</td>
                                    <td class="text-end"><strong><span>334,800</span>원</strong></td>
                                </tr>
                                <tr>
                                    <td>총 할인금액</td>
                                    <td class="text-end"><strong><span>- 50,000</span>원</strong></td>
                                </tr>
                                <tr>
                                    <td>총 상품금액</td>
                                    <td class="text-end"><strong><span>0</span>원</strong></td>
                                </tr>
                                <tr class="align-middle">
                                    <td class="fw-bold">총 결제금액</td>
                                    <td class="text-end text-danger" style="font-size: larger"><strong><span>284,800</span>원</strong></td>
                                </tr>
                            </table>
                            <div class="text-center bg-white mb-3">
                                <button class="btn btn-dark w-75">주문하기</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</html>