<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>룸메이크 | 장바구니</title>
    <style layout:fragment="style">
        .btn.btn-xs {
            --bs-btn-padding-y: .25rem;
            --bs-btn-padding-x: .35rem;
            --bs-btn-font-size: .75rem;
        }

        .sticky {
            position: sticky;
            top: 100px;
        }
    </style>
</head>
<div layout:fragment="content" class="container my-3 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h4 class="fw-bold text-center mb-4">장바구니</h4>
            </div>
            <form method="post">
                <div class="row mb-3">
                    <!-- 좌측 영역 시작 -->
                    <div class="col-9 mb-5" style="font-size: small">
                        <!-- 상품목록 영역 시작 -->
                        <table class="table text-center" id="table-cart">
                            <thead>
                            <tr>
                                <th style="width: 3%"><input type="checkbox" id="checkbox-all"></th>
                                <th style="width: 8%">전체 <span th:text="${dto.items.size()}" id="span-cart-amount"></span>개</th>
                                <th style="width: 57%">상품정보</th>
                                <th style="width: 12%">수량</th>
                                <th style="width: 15%">가격</th>
                                <th style="width: 5%">삭제</th>
                            </tr>
                            </thead>
                            <tbody class="align-middle" th:each="item: ${dto.items}">
                            <tr>
                                <td><input type="checkbox" name="id" th:value="${item.productId}" th:attr="data-product-detail-id=${item.productDetailId}"></td>
                                <td th:text="${itemStat.count}" id="item-no">1</td>
                                <!-- 상품정보 영역 시작 -->
                                <td>
                                    <div class="d-flex w-100 justify-content-start">
                                        <a href="#" class="link-underline link-underline-opacity-0 text-dark">
                                            <div>
                                                <img th:src="@{/images/home/banner3.jpg}"
                                                     style="width: 80px; height: 80px">
                                            </div>
                                        </a>
                                        <div class="ms-3 text-start">
                                            <div>
                                                <div style="display: -webkit-box;
                                                              overflow: hidden;
                                                              text-overflow: ellipsis;
                                                              -webkit-box-orient: vertical;
                                                              -webkit-line-clamp: 1;" th:text="${item.name}">
                                                    LED조명 통서랍 수납침대 SSQ(매트리스 선택)
                                                </div>
                                                <div data-th-text="${#numbers.formatCurrency(item.price)}">189,000원</div>
                                                <div class="text-secondary mt-2" style="font-size: 12px">
                                                    사이즈 선택: <span th:text="${item.size}">슈퍼싱글SS</span> / 색상 선택: <span th:text="${item.color}">화이트</span>
                                                </div>
                                            </div>
                                            <div class="mt-2">
                                                <button type="button" class="btn btn-xs" style="border-color: gray;" onclick="showOptionList()">
                                                    옵션변경
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <!-- 상품정보 영역 끝 -->
                                <td><input type="number" style="width: 50%" name="amount" th:value="${item.amount}"></td>
                                <td class="fw-bold" data-th-text="${#numbers.formatCurrency(item.itemPrice)}">189,000원</td>
                                <td>
                                    <button type="button" class="btn btn-xs text-secondary" th:id="'btn-del' + ${item.productId}">x</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- 상품목록 영역 끝 -->

                        <!-- 상품목록 하단 기타 영역 시작 -->
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <div>
                                <button type="button" class="btn btn-xs" style="border-color: gray" onclick="removeCheckedProducts()">선택삭제</button>
                            </div>
                            <div>
                                5만원 이상 구매 시 무료배송
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li>장바구니에 상품은 최대 100개까지 담을 수 있습니다.</li>
                                <li>장바구니 상품은 30일간 보관 후 삭제됩니다.</li>
                            </ul>
                        </div>
                        <!-- 상품목록 하단 기타 영역 끝 -->
                    </div>
                    <!-- 좌측 영역 끝 -->

                    <!-- 우측 주문 금액정보 영역 시작 -->
                    <div class="col-3">
                        <div class="card sticky">
                            <div class="card-body">
                                <table class="table table-borderless">
                                    <tr>
                                        <td>총 상품금액</td>
                                        <td class="text-end"><strong><span th:text="${#numbers.formatCurrency(dto.totalPrice)}">334,800</span></strong></td>
                                    </tr>
                                    <tr>
                                        <td>총 할인금액</td>
                                        <td class="text-end"><strong><span th:text="${#numbers.formatCurrency(dto.totalDiscountPrice)}">50,000</span></strong></td>
                                    </tr>
                                    <tr>
                                        <td>배송비</td>
                                        <td class="text-end"><strong><span th:text="${#numbers.formatCurrency(dto.deliveryPay)}">0</span></strong></td>
                                    </tr>
                                    <tr class="align-middle">
                                        <td class="fw-bold">총 결제금액</td>
                                        <td class="text-end text-danger" style="font-size: larger">
                                            <strong><span th:text="${#numbers.formatCurrency(dto.totalPayPrice)}">284,800</span></strong></td>
                                    </tr>
                                </table>
                                <div class="text-center bg-white mb-3">
                                    <button type="button" class="btn btn-dark w-100" id="btn-order">주문하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 주문 금액정보 영역 끝 -->
                </div>
            </form>
        </div>
    </div>
    <form id="form" action="/order/form"></form>
</div>
<script type="text/javascript" layout:fragment="script">
    $(function() {
        // 전체선택 체크박스 체크/해제에 따라 모든 상품 체크/해제
        $("#checkbox-all").change(function() {
            let currentCheckedStatus = $(this).prop('checked');
            $(":checkbox[name=id]").prop("checked", currentCheckedStatus);
        });

        // 개별 상품 체크 갯수에 따라 전체선택 체크박스 체크/해제
        $(":checkbox[name=id]").change(function() {
            // 상품 체크박스 전체 갯수 조회
            let len = $(":checkbox[name=id]").length;
            // 상품 체크박스 중에서 체크된 갯수 조회
            let checkedLen = $(":checkbox[name=id]:checked").length;

            if (len === checkedLen) {
                $("#checkbox-all").prop('checked', true);
            } else {
                $("#checkbox-all").prop('checked', false);
            }
        });

        // 전체선택 체크박스 트리거
        $("#checkbox-all").trigger('click');
    });

    // 옵션변경 모달
    const optionModal = new bootstrap.Modal(document.getElementById('modal-modify-option'));

    async function showOptionList() {
        optionModal.show();
    }

    // 삭제버튼 클릭 시 실행될 이벤트 핸들러 등록
    $('button[id^=btn-del]').click(function() {
        $(this).closest('tr').remove();

        // 개별 상품의 순번 변경
        $('#table-cart tbody tr td:nth-child(2)').each(function(index, td) {
            $(td).text(index + 1);
        });

        // 전체 상품 갯수 변경
        let len = $("#table-cart tbody tr").length;
        $("#table-cart #span-cart-amount").text(len);
    });

    // 선택삭제 이벤트 핸들러
    function removeCheckedProducts() {
        let checkedCheckboxes = document.querySelectorAll("input[name=no]:checked");
        if (checkedCheckboxes.length == 0) {
            alert("체크된 항목이 없습니다.");
            return;
        }

        // 선택한 항목 삭제
        $(checkedCheckboxes).closest('tr').remove();

        // 개별 상품의 순번 변경
        $('#table-cart tbody tr td:nth-child(2)').each(function(index, td) {
            $(td).text(index + 1);
        });

        // 전체 상품 갯수 변경
        let len = $("#table-cart tbody tr").length;
        $("#table-cart #span-cart-amount").text(len);

        $("#checkbox-all").trigger('click');
    }

    // 주문하기로 상품번호, 상품상세번호, 상품수량 값 넘기기
    $("#btn-order").click(function() {
        $("tbody :checkbox:checked").each(function() {
            let productId = $(this).val();
            let productDetailId = $(this).attr("data-product-detail-id");
            let amount = $(this).closest("tr").find("input[name=amount]").val();
            let input1 = `<input type="hidden" name="id" value="${productId}">`;
            let input2 = `<input type="hidden" name="productDetailId" value="${productDetailId}">`;
            let input3 = `<input type="hidden" name="amount" value="${amount}">`;

            $("#form").append(input1);
            $("#form").append(input2);
            $("#form").append(input3);

            $("#form").trigger("submit");
        });
    });
</script>
</html>