<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='product'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <div class="row mb-3">
                <div class="col-3">
                    <img src="/images/product/show.png" class="img-thumbnail" alt="" width="200" height="200">
                    <div>
                        <img src="/images/product/show.png" class="img-thumbnail" alt="" width="50" height="50">
                        <img src="/images/product/show.png" class="img-thumbnail" alt="" width="50" height="50">
                        <img src="/images/product/show.png" class="img-thumbnail" alt="" width="50" height="50">
                    </div>
                </div>
                <div class="col-9">
                    <h1>제품상세설명</h1>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>상품번호</th>
                            <td th:text="${product.id}">56</td>
                            <th>상품명</th>
                            <td th:text="${product.name}">쇼파</td>
                        </tr>
                        <tr>
                            <th>카테고리</th>
                            <td th:text="*{product.category}">책상</td>
                            <th>상품가격</th>
                            <td th:text="${product.price}">50,000원></td>
                        </tr>
                        <tr>
                            <th>할인률</th>
                            <td th:text="${product.discount}">10%</td>
                            <th>상품수정일</th>
                            <td th:text="${product.updateDate}">2024-03-04</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product-detail">
                                상품상세정보 등록
                            </button>
                            <div class="modal modal-lg" id="product-detail" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1>상품상세정보등록</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="form-group mb-3">
                                            <h2>
                                                <label class="form-label">사이즈</label>
                                            </h2>
                                            <select class="form-select" name="select">
                                                <option value="S">S</option>
                                                <option value="M">M</option>
                                                <option value="L">L</option>
                                            </select>
                                            <h2>
                                                <label class="form-label">색상</label>
                                            </h2>
                                            <select class="form-select" name="select">
                                                <option value="빨강">빨강</option>
                                                <option value="파랑">파랑</option>
                                            </select>
                                            <h2>
                                                <lable>재고</lable>
                                                <input type="text" class="form-control">
                                            </h2>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">저장</button>
                                            <button type="button" class="btn btn-danger">취소</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary me-md-2" th:href="@{/admin/product/list}">확인</a>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>상품상세번호</th>
                            <th>상품크기</th>
                            <th>상품색상</th>
                            <th>상품재고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>456</td>
                            <td>L사이즈</td>
                            <td>빨간색</td>
                            <td>50</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>