<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h1>교환상세정보</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>교환품목명(사용자)</th>
                        <th>교환품목명(관리자)</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>50816-959</td>
                        <td>"L사이즈 책상"</td>
                        <td>"M사이즈 책상"</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary me-md-2" th:href="@{/admin/order/exchange}">교환승인</a>
            </div>
        </div>
    </div>
</div>
</html>