<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='order'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h1>상품교환 리스트</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>교환번호</th>
                    <th>교환상세번호</th>
                    <th>주문번호</th>
                    <th>주문자명</th>
                    <th>상품이름</th>
                    <th>교환일자</th>
                    <th>교환사유</th>
                    <th>교환승인여부</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exchanges : ${exchanges}">
                    <td th:text="${exchangesStat.index+1}">50000001</td>
                    <td>10515</td>
                    <td><a class="link-offset-1" th:href="@{/admin/order/exchange-detail}">50628594</a></td>
                    <td>이순신</td>
                    <td>쇼파</td>
                    <td>2024-04-16</td>
                    <td>쇼파 사이즈에 너무 작습니다</td>
                    <td align="center">교환신청</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>