<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='order'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h1>상품교환 리스트</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>순번</th>
                    <th>교환번호</th>
                    <th>상품번호</th>
                    <th>교환주문자명</th>
                    <th>상품이름</th>
                    <th>교환일자</th>
                    <th>교환사유</th>
                    <th>교환승인여부</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exchange : ${exchanges}">
                    <td th:text="${exchangeStat.count}" align="center">1</td>
                    <td>
                        <a class="link-offset-1" th:href="@{/admin/order/exchange-detail/{id}(id=${exchange.exchangeId})}" th:text="${exchange.exchangeId}"></a>
                    </td>
                    <td th:text="${exchange.productId}">상품번호</td>
                    <td th:text="${exchange.userNickname}">이순신</td>
                    <td th:text="${exchange.productName}">쇼파</td>
                    <td th:text="${#dates.format(exchange.createDate, 'yyyy-MM-dd HH:mm:ss')}">2024-04-19</td>
                    <td th:text="${exchange.reasonName}">쇼파 사이즈에 너무 작습니다</td>
                    <td align="center" th:text="${exchange.approvalYn}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>