<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='order'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h1>상품반품 페이지</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product-return"
                        onclick="callModal()">
                    반품승인
                </button>
                <div class="modal modal-lg" id="product-return" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>반품승인</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="modalBody">
                                <div class="10">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>반품상품명</th>
                                            <td>쇼파</td>
                                            <th>반품금액</th>
                                            <td>50,000원</td>
                                        </tr>
                                        <tr>
                                            <th>신청자명</th>
                                            <td>강감찬</td>
                                            <th>반품사유</th>
                                            <td>"쇼파가 찢어져서왔어요"</td>
                                        </tr>
                                        </thead>
                                    </table>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>회수지 정보</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>서울율곡로 어딘지 모름</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendUpdate()">승인</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll" onchange="selectAllItems(this)" class="form-check-input"></th>
                    <th>순번</th>
                    <th>반품번호</th>
                    <th>반품상품번호</th>
                    <th>반품신청일자</th>
                    <th>주문자명</th>
                    <th>반품처리상태</th>
                    <th>반품승인여부</th>
                </tr>
                </thead>
                <tbody id="itemReturnBody">
                <!--                <tr id="itemReturnBody" th:each="itemReturn : ${itemReturnList}">-->
                <!--                    <th>-->
                <!--                        <input class="form-check-input" type="checkbox" th:value="${itemReturn.itemReturnId}">-->
                <!--                    </th>-->
                <!--                    <th th:text="${itemReturnStat.index+1}">반품번호</th>-->
                <!--                    <th th:text="${itemReturn.itemReturnId}">반품상세번호</th>-->
                <!--                    <td th:text="${#dates.format(itemReturn.itemReturnCreateDate,'yyyy-MM-dd')}">2024-04-16</td>-->
                <!--                    <th th:text="${itemReturn.userNickname}">주문자명</th>-->
                <!--                    <th th:text="${itemReturn.itemReturnStatus}">반품처리상태</th>-->
                <!--                    <th th:text="${itemReturn.itemReturnYn}">반품승인여부</th>-->
                <!--                </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script type="text/javascript" layout:fragment="script" th:inline="javascript">

    function selectAllItems(source) {
        const checkboxs = document.querySelectorAll('input[type="checkbox"]');
        checkboxs.forEach(checkbox => {
            if (checkbox !== source)
                checkbox.checked = source.checked;
        });
    }

    // model 데이터 가져오기
    let itemReturnList = [[${itemReturnList}]];
    // 화면 그리기
    refreshItemReturnBody();

    function refreshItemReturnBody() {
        // 화면 초기화
        $("#itemReturnBody").html("");

        // 화면 html
        let htmlStr = '';
        itemReturnList.forEach(function(returnItem, index) {
            htmlStr += `
            <tr id="itemReturnBody">
                <th>
                    <input class="form-check-input" type="checkbox" value="${returnItem.itemReturnId}">
                </th>
                <th>${index + 1}</th>
                <th>${returnItem.itemReturnId}</th>
                <th>${returnItem.productId}</th>
                <td>${new Date(returnItem.itemReturnCreateDate).toISOString().split('T')[0]}</td>
                <th>${returnItem.userNickname}</th>
                <th>${returnItem.itemReturnStatus}</th>
                <th>${returnItem.itemReturnYn}</th>
            </tr>`;
        });
        $("#itemReturnBody").html(htmlStr);
    }

    function callModal() {
        // 초기화
        $("#modalBody").html("");

        // 화면 html
        let htmlStr = '';

        // 체크된 item
        $("input:checked").each(function(index, inputItem) {
            itemReturnList.forEach(function(returnItem, index) {
                if (inputItem.value == returnItem.itemReturnId) {
                    // 화면
                    htmlStr += `
                        <div class="10">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>반품상품명</th>
                                        <td>${returnItem.productName}</td>
                                        <th>반품금액</th>
                                        <td>${returnItem.orderItemPrice}</td>
                                    </tr>
                                    <tr>
                                        <th>신청자명</th>
                                        <td>${returnItem.userNickname}</td>
                                        <th>반품사유</th>
                                        <td>${returnItem.returnExchangeReasonName}</td>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>회수지 정보</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>서울특별시 종로구 율곡로10길 105 디아망 4층</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>`;
                }
            })
        });
        $("#modalBody").html(htmlStr);
    }

    function sendUpdate() {
        // 보낼 아이템
        let selectItem = [];

        // 체크된 item
        $("input:checked").each(function(index, inputItem) {
            itemReturnList.forEach(function(returnItem, index) {
                if (inputItem.value == returnItem.itemReturnId) {
                    // 보낼 아이템 push
                    selectItem.push(returnItem)
                }
            });
        });

        if (confirm('정말 반품을 저장하시겠습니까?')) {
            $.ajax({
                type: 'POST',
                url: '/admin/order/updateReturn',
                data: JSON.stringify(selectItem),
                contentType: 'application/json',
                success: function(data) {
                    if (data > 0) {
                        alert("상품반품이 완료되었습니다.")

                        $("input:checked").each(function(index, inputItem) {
                            itemReturnList.forEach(function(returnItem, index) {
                                if (inputItem.value == returnItem.itemReturnId) {
                                    itemReturnList[index].itemReturnYn = "Y";
                                    itemReturnList[index].itemReturnStatus = "반품완료";
                                }
                            });
                        });

                        refreshItemReturnBody();
                    }
                }
            });
        }
    }
</script>
</html>