<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='order'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h1>상품취소상세페이지</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>취소번호</th>
                    <th>취소사유</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${ordercancel.cancelId}">1</td>
                    <td th:text="${ordercancel.reasonName}"></td>

                </tr>
                </tbody>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary me-md-2">취소승인</a>
            </div>
        </div>
    </div>
</div>
</html>