<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='order'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h1>상품취소 페이지</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>취소번호</th>
                    <th>취소상세번호</th>
                    <th>취소신청일자</th>
                    <th>비고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderCancel : ${orderCancels}">
                    <td align="center" th:text="${orderCancelStat.count}">1</td>
                    <td>
                        <a class="link-offset-1" th:href="@{/admin/order/orderCancel-Detail/{id}(id=${orderCancel.Id})}" th:text="${orderCancel.Id}"></a>
                    </td>
                    <td th:text="${#dates.format(orderCancel.createDate, 'yyyy-MM-dd HH:mm:ss')}">2024-04-19</td>
                    <td>취소</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>