<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='order'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h1>상품취소 페이지</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 50px">순번</th>
                    <th style="width: 100px">취소번호</th>
                    <th style="width: 100px">취소상품번호</th>
                    <th style="width: 100px">취소신청일자</th>
                    <th style="width: 200px">취소상품</th>
                    <th style="width: 150px">취소사유</th>
                    <th style="width: 60px;">주문취소자명</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderCancel : ${orderCancels}">
                    <td style="width: 50px" th:text="${orderCancelStat.count}">1</td>
                    <td style="width: 100px" th:text="${orderCancel.cancelId}"></td>
                    <td style="width: 100px" th:text="${orderCancel.productId}">취소상품번호</td>
                    <td style="width: 100px" th:text="${#dates.format(orderCancel.createDate, 'yyyy-MM-dd')}">2024-04-19</td>
                    <td style="width: 200px" th:text="${orderCancel.productName}">상품명</td>
                    <td style="width: 150px" th:text="${orderCancel.reasonName}"> 너무 싫어요</td>
                    <td style="width: 150px" th:text="${orderCancel.nickName}">홍길동</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>