<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='order'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h1>상품환불리스트</h1>
            <!--모달창-->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product-refund">
                    환불승인
                </button>
                <div class="modal modal-lg" id="product-refund" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>환불승인</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="col-10">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>환불상품명</th>
                                            <td>침대</td>
                                            <th>환불포인트</th>
                                            <td>10만포인트</td>
                                        </tr>
                                        <tr>
                                            <th>신청자명</th>
                                            <td>김유신</td>
                                            <th>환불사유</th>
                                            <td>침대 상태가 너무 않좋아요</td>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">승인</button>
                                <button type="button" class="btn btn-danger">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>환불번호</th>
                    <th>주문번호</th>
                    <th>상품이름</th>
                    <th>환불금액</th>
                    <th>환불접수일자</th>
                    <th>환불포인트</th>
                    <th>환불처리상태</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <input class="form-check-input" type="checkbox" value="">
                    </th>
                    <th>48448-4942</th>
                    <td>48488</td>
                    <td>쇼파</td>
                    <td>50,000</td>
                    <td>2024-04-16</td>
                    <td>50,000</td>
                    <td>환불신청</td>
                </tr>
                <tr>
                    <th>
                        <input class="form-check-input" type="checkbox" value="">
                    </th>
                    <th>48448-4942</th>
                    <td>48488</td>
                    <td>쇼파</td>
                    <td>50,000</td>
                    <td>2024-04-16</td>
                    <td>50,000</td>
                    <td>환불신청</td>
                </tr>
                <tr>
                    <th>
                        <input class="form-check-input" type="checkbox" value="">
                    </th>
                    <th>5252-5252</th>
                    <td>48488</td>
                    <td>쇼파</td>
                    <td>50,000</td>
                    <td>2024-04-16</td>
                    <td>50,000</td>
                    <td>환불신청</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</html>