<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base-admin}" th:with="menu='order'">
<div layout:fragment="content-admin" class="container my-3">
    <div class="row mb-3">
        <div class="col-2">
            <div th:replace="~{layout/sidebar-admin :: sidebar-admin-fragment}"></div>
        </div>
        <div class="col-10">
            <h1>상품반품 페이지</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product-return">
                    반품승인
                </button>
                <div class="modal modal-lg" id="product-return" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>반품승인</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="10">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>반품상품명</th>
                                            <td>쇼파</td>
                                            <th>반품금액</th>
                                            <td>50,000원</td>
                                        </tr>
                                        <tr>
                                            <th>신청자명</th>
                                            <td>강감찬</td>
                                            <th>반품사유</th>
                                            <td>"쇼파가 찢어져서왔어요"</td>
                                        </tr>
                                        </thead>
                                    </table>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>회수지 정보</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>서울율곡로 어딘지 모름</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">승인</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>반품번호</th>
                    <th>반품상세번호</th>
                    <th>반품신청일자</th>
                    <th>주문자명</th>
                    <th>반품처리상태</th>
                    <th>반품승인여부</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" value="">
                    </td>
                    <td>1</td>
                    <td>60000001</td>
                    <td>2022-05-05</td>
                    <td>이순신</td>
                    <td>반품처리중</td>
                    <td>반품신청</td>
                </tr>
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" value="">
                    </td>
                    <td>2</td>
                    <td>60000002</td>
                    <td>2022-05-05</td>
                    <td>이순신</td>
                    <td>반품처리중</td>
                    <td>반품신청</td>
                </tr>
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" value="">
                    </td>
                    <td>3</td>
                    <td>60000003</td>
                    <td>2022-05-05</td>
                    <td>이순신</td>
                    <td>반품처리중</td>
                    <td>반품신청</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>