<!DOCTYPE html>
<html>
<head>
    <title>문의사항 답변</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 40px; background-color: #f9f9f9;">
    <tr>
        <td align="center">
            <div style="font-size: 24px; font-weight: bold;">룸메이크</div>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px; font-size: 24px; font-weight: bold; align-content: center">
            문의사항에 대한 답변이 등록되었습니다.
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 10px; font-size: 32px; font-weight: bold; color: #333; background-color: #ffffff; border-radius: 5px; margin: 10px;">
            [[${title}]]
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 16px; padding: 30px;">
            해당 문의사항에 대한 답변이 등록되었습니다.<br>
            마이페이지 문의내역에서 자세한 답변을 확인해주세요.
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 16px; padding: 30px;">
            답변 내용<br>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 10px; font-size: 32px; font-weight: bold; color: #333; background-color: #ffffff; border-radius: 5px; margin: 10px;">
            [[${answer}]]
        </td>
    </tr>
</table>
</body>
</html>
