<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>룸메이크 | 주문취소신청</title>
</head>
<div layout:fragment="content" class="container my-3 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6 text-center mb-4">
                <h4 class="fw-bold mb-5">주문취소 신청</h4>
                <form method="get">
                    <!-- 상품 영역 시작 -->
                    <div class="mb-5 pb-3">
                        <div class="d-flex justify-content-start">
                            <input type="checkbox" class="ms-2 me-3" id="checkbox-all">
                            <div class="text-start fw-bold" style="font-size: 17px">상품을 선택해주세요</div>
                        </div>
                        <hr>
                        <table class="table text-center">
                            <tbody class="align-middle">
                            <tr>
                                <td>
                                    <div class="d-flex w-100 justify-content-start">
                                        <input type="checkbox" name="no" value="10" class="me-3">
                                        <a href="#" class="link-underline link-underline-opacity-0 text-dark">
                                            <div>
                                                <img th:src="@{/images/home/banner3.jpg}" style="width: 80px; height: 80px">
                                            </div>
                                        </a>
                                        <div class="ms-3 text-start">
                                            <div>
                                                <div style="display: -webkit-box;
                                                                  overflow: hidden;
                                                                  text-overflow: ellipsis;
                                                                  -webkit-box-orient: vertical;
                                                                  -webkit-line-clamp: 1;">
                                                    LED조명 통서랍 수납침대 SSQ(매트리스 선택)
                                                </div>
                                                <div class="text-secondary mt-2" style="font-size: 12px">상품선택: 슈퍼싱글SS
                                                    프레임만 / 색상선택: 화이트
                                                </div>
                                                <div style="font-size: small">1개</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex w-100 justify-content-start">
                                        <input type="checkbox" name="no" value="11" class="me-3">
                                        <a href="#" class="link-underline link-underline-opacity-0 text-dark">
                                            <div>
                                                <img th:src="@{/images/home/banner3.jpg}" style="width: 80px; height: 80px">
                                            </div>
                                        </a>
                                        <div class="ms-3 text-start">
                                            <div>
                                                <div style="display: -webkit-box;
                                                                  overflow: hidden;
                                                                  text-overflow: ellipsis;
                                                                  -webkit-box-orient: vertical;
                                                                  -webkit-line-clamp: 1;">
                                                    봄맞이 먼지없는 항균 차렵이불세트 SS/Q 12컬러
                                                </div>
                                                <div class="text-secondary mt-2" style="font-size: 12px">사이즈: SS 베개세트 /
                                                    컬러: 버터옐로우
                                                </div>
                                                <div style="font-size: small">2개</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 상품 영역 끝 -->
                    <div class="justify-content-center mb-5 pb-3">
                        <div class="text-start fw-bold" style="font-size: 17px">취소사유를 선택해주세요</div>
                        <hr>
                        <div>
                            <div class="d-flex align-items-center ms-3 mb-2">
                                <input type="radio" value="a" checked>
                                <label class="ms-2 small">상품이 마음에 들지 않음 (단순변심)</label>
                            </div>
                            <div class="d-flex align-items-center ms-3 mb-2">
                                <input type="radio" value="b">
                                <label class="ms-2 small">다른 상품 추가 후 재주문 예정</label>
                            </div>
                            <div class="d-flex align-items-center ms-3 mb-2">
                                <input type="radio" value="c">
                                <label class="ms-2 small">배송지 변경</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="text-start fw-bold" style="font-size: 17px">환불 정보를 확인해주세요</div>
                        <hr>
                        <div class="d-flex justify-content-between fw-bold mb-2">
                            <div>환불예정금액</div>
                            <div>283,800원</div>
                        </div>
                        <div style="font-size: 15px">
                            <div class="d-flex justify-content-between small mb-1 text-secondary">
                                <div>총 상품금액</div>
                                <div>334,800원</div>
                            </div>
                            <div class="d-flex justify-content-between small mb-1 text-secondary">
                                <div>총 할인금액</div>
                                <div>- 50,000원</div>
                            </div>
                            <div class="d-flex justify-content-between small mb-1 text-secondary">
                                <div>배송비</div>
                                <div>0원</div>
                            </div>
                            <div class="d-flex justify-content-between small mb-1 text-secondary">
                                <div>포인트 사용</div>
                                <div>- 1,000원</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between fw-bold mb-5 pb-4">
                        <div>환불수단</div>
                        <div>카카오페이</div>
                    </div>
                    <div class="text-secondary mb-4" style="font-size: small">
                        <div>사용한 포인트는 환불 완료 후 반환됩니다.</div>
                        <div>(환불 완료까지는 시간이 소요될 수 있습니다.)</div>
                    </div>
                    <div class="text-center bg-white mb-3">
                        <button type="button" class="btn w-50 btn-outline-dark" id="btn-pay-cancel">신청하기</button>
                        <!--<a th:href="@{/order/pay/cancel}" class="btn w-50 btn-outline-dark" id="btn-pay-cancel">신청하기</a>-->
                    </div>
                </form>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" layout:fragment="script">
    $(function() {
        $("#btn-pay-cancel").click(function(e) {
            $.getJSON('/order/claim/pay/cancel',
                {
                    tid: "T620d3e44510678b085d"
                },
                function(response) {
                    location.href = "/order/claim/cancel-completed";
                });
        });
    });

    $(function() {
        // 전체선택 체크박스 체크/해제 시 실행될 이벤트 핸들러 등록
        $("#checkbox-all").change(function() {
            let currentCheckedStatus = $(this).prop('checked');
            $(":checkbox[name=no]").prop("checked", currentCheckedStatus);
        });

        // 상품 체크박스 체크/해제용 이벤트 핸들러
        $(":checkbox[name=no]").change(function() {
            // 상품 체크박스 전체 갯수 조회
            let len = $(":checkbox[name=no]").length;
            // 상품 체크박스 중에서 체크된 갯수 조회
            let checkedLen = $(":checkbox[name=no]:checked").length;

            if (len === checkedLen) {
                $("#checkbox-all").prop('checked', true);
            } else {
                $("#checkbox-all").prop('checked', false);
            }
        });

        // 전체선택 체크박스 트리거
        $("#checkbox-all").trigger('click');
    });
</script>
</html>