<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>룸메이크 | 주문취소신청</title>
</head>
<div layout:fragment="content" class="container my-3 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6 text-center mb-4">
                <h4 class="fw-bold mb-5">주문취소 신청</h4>
                <form method="get">
                    <!-- 상품 영역 시작 -->
                    <div class="mb-5 pb-3">
                        <div class="d-flex justify-content-start">
                            <div class="text-start fw-bold" style="font-size: 17px">상품을 확인해주세요</div>
                            <input type="hidden" name="tid" th:value="${dto.payment.tid}"/>
                            <input type="hidden" name="orderId" th:value="${dto.orderId}"/>
                        </div>
                        <hr>
                        <table class="table text-center">
                            <tbody class="align-middle">
                            <tr th:id="tr-items- + ${item.orderItemId}" th:if="${dto.item} == null" th:each="item : ${dto.items}">
                                <td>
                                    <div class="d-flex w-100 justify-content-start">
                                        <a th:href="@{/store/detail/{id}(id=${item.productId})}" class="link-underline link-underline-opacity-0 text-dark">
                                            <div>
                                                <img th:src="@{${item.imageName}}" style="width: 80px; height: 80px">
                                            </div>
                                        </a>
                                        <div class="ms-3 text-start">
                                            <div th:id="div-item-id- + ${item.orderItemId}" th:attr="data-item-id=${item.orderItemId}">
                                                <div th:text="${item.name}" style="display: -webkit-box;
                                                                  overflow: hidden;
                                                                  text-overflow: ellipsis;
                                                                  -webkit-box-orient: vertical;
                                                                  -webkit-line-clamp: 1;">
                                                    LED조명 통서랍 수납침대 SSQ(매트리스 선택)
                                                </div>
                                                <div class="text-secondary mt-2" style="font-size: 12px">
                                                    사이즈: <span th:text="${item.size}">슈퍼싱글SS 프레임만</span>
                                                    / 색상: <span th:text="${item.color}">화이트</span>
                                                </div>
                                                <div style="font-size: small"><span th:text="${item.amount}">1</span>개</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr th:if="${dto.items} == null">
                                <td>
                                    <div class="d-flex w-100 justify-content-start">
                                        <a th:href="@{/store/detail/{id}(id=${dto.item.productId})}" class="link-underline link-underline-opacity-0 text-dark">
                                            <div>
                                                <img th:src="@{${dto.item.imageName}}" style="width: 80px; height: 80px">
                                            </div>
                                        </a>
                                        <div class="ms-3 text-start">
                                            <div>
                                                <div th:text="${dto.item.name}" style="display: -webkit-box;
                                                                  overflow: hidden;
                                                                  text-overflow: ellipsis;
                                                                  -webkit-box-orient: vertical;
                                                                  -webkit-line-clamp: 1;">
                                                    LED조명 통서랍 수납침대 SSQ(매트리스 선택)
                                                </div>
                                                <div class="text-secondary mt-2" style="font-size: 12px">
                                                    사이즈: <span th:text="${dto.item.size}">슈퍼싱글SS 프레임만</span>
                                                    / 색상: <span th:text="${dto.item.color}">화이트</span>
                                                </div>
                                                <div style="font-size: small"><span th:text="${dto.item.amount}">1</span>개</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 상품 영역 끝 -->
                    <div class="justify-content-center mb-5 pb-3">
                        <div class="text-start fw-bold" style="font-size: 17px">취소사유를 선택해주세요</div>
                        <hr>
                        <div th:each="reason : ${reasons}">
                            <div class="d-flex align-items-center ms-3 mb-2">
                                <input name="reason" type="radio" th:value="${reason.id}" th:checked="${reasonStat.index == 0}">
                                <span th:text="${reason.name}" class="ms-2 small">상품이 마음에 들지 않음 (단순변심)</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="text-start fw-bold" style="font-size: 17px">환불 정보를 확인해주세요</div>
                        <hr>
                        <div th:id="div-payment"
                             th:attr="data-payment-id=${dto.payment.id}"
                             class="d-flex justify-content-between fw-bold mb-2">
                            <div>환불예정금액</div>
                            <div th:if="${dto.item} == null">
                                <span th:id="span-total-price- + ${dto.totalPrice}"
                                      th:attr="data-total-price=${dto.totalPrice}"
                                      th:text="${#numbers.formatInteger(dto.totalPrice, 1, 'COMMA')}">
                                    283,800
                                </span>원
                            </div>
                            <div th:if="${dto.items} == null">
                                <span th:id="span-item-price- + ${dto.item.getItemPrice()}"
                                      th:attr="data-item-price=${dto.item.getItemPrice()}"
                                      th:text="${#numbers.formatInteger(dto.item.getItemPrice(), 1, 'COMMA')}">
                                    75,000
                                </span>원
                            </div>
                        </div>
                        <div style="font-size: 15px">
                            <!--<div class="d-flex justify-content-between small mb-1 text-secondary">
                                <div>총 상품금액</div>
                                <div>334,800원</div>
                            </div>
                            <div class="d-flex justify-content-between small mb-1 text-secondary">
                                <div>총 할인금액</div>
                                <div>- 50,000원</div>
                            </div>-->
                            <div class="d-flex justify-content-between small mb-1 text-secondary">
                                <div>포인트 사용</div>
                                <div><span id="span-use-point"
                                           th:attr="data-use-point=${dto.payment.usePoint}"
                                           th:text="${#numbers.formatInteger(dto.payment.usePoint, 1, 'COMMA')}">1,000</span> P
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between fw-bold mb-5 pb-4">
                        <div>환불수단</div>
                        <div th:text="${dto.payment.method}">카카오페이</div>
                    </div>
                    <div class="text-secondary mb-4" style="font-size: small">
                        <div>사용한 포인트는 환불 완료 후 반환됩니다.</div>
                        <div>(환불 완료까지는 시간이 소요될 수 있습니다.)</div>
                    </div>
                    <div class="text-center bg-white mb-3">
                        <button th:if="${dto.item} == null" type="button" class="btn w-50 btn-outline-dark" id="btn-pay-all-cancel">신청하기</button>
                        <button th:if="${dto.items} == null" type="button" class="btn w-50 btn-outline-dark" id="btn-pay-cancel">신청하기</button>
                    </div>
                </form>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" layout:fragment="script">
    $(function() {
        $("#btn-pay-all-cancel").click(function(e) {
            let orderId = $("input[name=orderId]").val();
            // 주문상세번호를 담을 배열
            let orderItemIds = [];
            $("tr[id^=tr-items]").each(function() {
                let item = {orderItemId: $("div[id^=div-item-id]").attr("data-item-id")};
                orderItemIds.push(item);
            });

            let reasonId = $(":radio[name=reason]:checked").val();

            let data = {
                orderId: orderId,                                                   // 주문번호
                paymentId: $("#div-payment").attr("data-payment-id"),               // 결제번호
                tid: $("input[name=tid]").val(),                                    // 카카오페이 결제 고유번호
                totalPrice: $("span[id^=span-total-price]").attr("data-total-price"), // 전체취소 금액
                reasonId: reasonId,                                                 // 주문취소사유 번호
                usePoint: $("#span-use-point").attr("data-use-point"),              // 사용 포인트
                items: orderItemIds                                                 // 주문상세번호 배열
            };

            $.ajax({
                type: 'POST',
                url: '/order/claim/pay/cancel',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(response) {
                    location.href = '/order/claim/cancel-completed/' + orderId;
                }
            });
        });
    });
</script>
</html>