<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>룸메이크 | 반품/교환신청</title>
    <style layout:fragment="style">
        .btn.btn-xs {
            --bs-btn-padding-y: .25rem;
            --bs-btn-padding-x: .35rem;
            --bs-btn-font-size: .75rem;
        }
    </style>
</head>
<div layout:fragment="content" class="container my-3 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <h4 class="fw-bold text-center mb-5">반품/교환신청</h4>
                <form method="get">
                    <!-- 1. 반품/교환 선택, 상품선택 영역 시작 -->
                    <div class="row mb-1">
                        <!-- 1-1. 반품/교환 선택 영역 시작-->
                        <div class="col-6 mb-5">
                            <div class="mb-5 pb-3">
                                <div class="d-flex justify-content-start mb-2" style="font-size: 17px">
                                    <div class="d-flex align-items-center ms-3 mb-2">
                                        <input type="radio" value="a">
                                        <label class="ms-2">반품</label>
                                    </div>
                                    <div class="d-flex align-items-center ms-3 mb-2">
                                        <input type="radio" value="b" checked>
                                        <label class="ms-2">교환</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group mb-1">
                                        <select class="form-select text-secondary" style="width: 500px">
                                            <option hidden>사유를 선택해주세요</option>
                                            <option>구매의사취소(단순변심)</option>
                                            <option>오배송</option>
                                            <option>상품 불량</option>
                                            <option>상품이 설명과 다름</option>
                                            <option>상품이 파손되어 배송됨</option>
                                            <option>상품의 구성품/부속품 누락</option>
                                            <option>직접 입력</option>
                                        </select>
                                    </div>
                                    <div style="width: 500px">
                                        <textarea class="form-control" placeholder="상세사유 입력 (선택사항)" style="width: 500px; height: 100px;"></textarea>
                                        <p class="text-end text-secondary" style="font-size: small"><span>0</span>/250</p>
                                    </div>
                                </div>
                                <div class="small">
                                    <div class="mb-1">• 동일 상품, 옵션 교환 외의 경우에는 환불 후 다시 주문해주세요.</div>
                                    <div class="mb-1">• 차액이 발생할 경우 고객센터로 문의주세요.</div>
                                </div>
                            </div>
                        </div>
                        <!-- 1-2. 상품선택 영역 시작 -->
                        <div class="col-6">
                            <div class="text-start fw-bold" style="font-size: 17px">상품 선택</div>
                            <hr>
                            <table class="table text-center" style="font-size: small">
                                <tbody class="align-middle">
                                <!-- 첫번째 상품 시작 -->
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>
                                        <div class="d-flex w-100 justify-content-start">
                                            <a href="#" class="link-underline link-underline-opacity-0 text-dark">
                                                <div>
                                                    <img th:src="@{/images/home/banner3.jpg}" style="width: 80px; height: 80px">
                                                </div>
                                            </a>
                                            <div class="ms-3 text-start">
                                                <div>
                                                    <div style="display: -webkit-box;
                                                                  overflow: hidden;
                                                                  text-overflow: ellipsis;
                                                                  -webkit-box-orient: vertical;
                                                                  -webkit-line-clamp: 1;">
                                                        LED조명 통서랍 수납침대 SSQ(매트리스 선택)
                                                    </div>
                                                    <div>189,000원</div>
                                                    <div class="text-secondary mt-2" style="font-size: 12px">상품선택: 슈퍼싱글SS 프레임만 / 색상선택: 화이트</div>
                                                </div>
                                                <div class="mt-2">
                                                    <button type="button" class="btn btn-xs" style="border-color: gray;" onclick="showOptionList()">옵션변경</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- 두번째 상품 시작 -->
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>
                                        <div class="d-flex w-100 justify-content-start">
                                            <a href="#" class="link-underline link-underline-opacity-0 text-dark">
                                                <div>
                                                    <img th:src="@{/images/home/banner3.jpg}" style="width: 80px; height: 80px">
                                                </div>
                                            </a>
                                            <div class="ms-3 text-start">
                                                <div>
                                                    <div style="display: -webkit-box;
                                                                  overflow: hidden;
                                                                  text-overflow: ellipsis;
                                                                  -webkit-box-orient: vertical;
                                                                  -webkit-line-clamp: 1;">
                                                        봄맞이 먼지없는 항균 차렵이불세트 SS/Q 12컬러
                                                    </div>
                                                    <div>47,900원</div>
                                                    <div class="text-secondary mt-2" style="font-size: 12px">사이즈: SS 베개세트 / 컬러: 버터옐로우</div>
                                                </div>
                                                <div class="mt-2">
                                                    <button type="button" class="btn btn-xs" style="border-color: gray" onclick="showOptionList()">옵션변경</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 상품선택 영역 끝 -->
                    </div>
                    <!-- 반품/교환 선택, 상품선택 영역 끝 -->

                    <!-- 2. 회수지 정보, 환불 정보, 상품 재배송 정보 영역 시작 -->
                    <div class="row mb-5 pb-3">
                        <!-- 2-1. 회수지 정보 시작 -->
                        <div class="col-6">
                            <div class="text-start fw-bold" style="font-size: 17px">상품 회수지 정보</div>
                            <hr>
                            <div>
                                <div class="mb-4 pb-2">
                                    <div class="d-flex justify-content-start align-items-center mb-1">
                                        <div class="me-3 fw-bold">배송지명 | 우리집</div>
                                        <button type="button" class="btn btn-xs" style="border-color: gray" onclick="showDeliveryList()">변경</button>
                                    </div>
                                    <div class="mb-1 small">(03134) 서울특별시 종로구 율곡로10길 105 디아망 4F</div>
                                    <div class="mb-2 small">수령인 | 010-1234-5678</div>
                                </div>
                                <div class="mb-4 pb-2">
                                    <div class="me-3 mb-2 fw-bold">회수예정일</div>
                                    <div class="small">4/11(목)</div>
                                </div>
                                <div>
                                    <div class="me-3 mb-2 fw-bold">회수요청사항</div>
                                    <div>
                                        <div class="d-flex align-items-center mb-2">
                                            <input type="radio" value="a" checked>
                                            <label class="ms-2 small">문 앞</label>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <input type="radio" value="b">
                                            <label class="ms-2 small">경비실</label>
                                        </div>
                                        <div class="d-flex align-items-center mb-2">
                                            <input type="radio" value="c">
                                            <label class="ms-2 small">그 외 장소 (예: 계단 밑 옥상 등)</label>
                                        </div>
                                        <div style="width: 500px">
                                            <textarea class="form-control" placeholder="* 필수입력 (반품 상품을 보관할 장소를 입력하세요)" style="width: 500px; height: 100px;"></textarea>
                                            <p class="text-end text-secondary" style="font-size: small"><span>0</span>/250</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 회수지 정보 영역 끝 -->
                        <div class="col-6">
                            <!-- 2-2. 환불 정보 영역 시작 -->
                            <div class="pb-3">
                                <div class="text-start fw-bold" style="font-size: 17px">환불 정보</div>
                                <hr>
                                <div class="d-flex justify-content-between fw-bold mb-3">
                                    <div>환불예정금액</div>
                                    <div>283,800원</div>
                                </div>
                                <div class="mb-3">
                                    <div style="font-size: 15px">
                                        <div class="d-flex justify-content-between small mb-1 text-secondary">
                                            <div>주문금액</div>
                                            <div>284,800원</div>
                                        </div>
                                        <div class="d-flex justify-content-between small mb-1 text-secondary">
                                            <div>차감금액</div>
                                            <div>0원</div>
                                        </div>
                                        <div class="d-flex justify-content-between small mb-1 text-secondary">
                                            <div>포인트 사용</div>
                                            <div>- 1,000원</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between fw-bold mb-5">
                                    <div>환불수단</div>
                                    <div>카카오페이</div>
                                </div>
                            </div>
                            <!-- 환불 정보 영역 끝 -->
                            <!-- 2-3. 상품 재배송 정보 영역 시작 -->
                            <div>
                                <div class="text-start fw-bold" style="font-size: 17px">상품 재배송 정보</div>
                                <hr>
                                <div>
                                    <div class="d-flex justify-content-start align-items-center mb-1">
                                        <div class="me-3 fw-bold">배송지명 | 우리집</div>
                                        <button type="button" class="btn btn-xs" style="border-color: gray" onclick="showDeliveryList()">변경</button>
                                    </div>
                                    <div class="mb-1 small">(03134) 서울특별시 종로구 율곡로10길 105 디아망 4F</div>
                                    <div class="mb-2 small">수령인 | 010-1234-5678</div>
                                    <div class="form-group mb-1">
                                        <select class="form-select text-secondary" style="width: 500px">
                                            <option hidden>배송메모를 선택해주세요</option>
                                            <option>문 앞에 놓아주세요</option>
                                            <option>배송 전에 미리 연락주세요</option>
                                            <option>부재 시 경비실에 맡겨주세요</option>
                                            <option>부재 시 전화 주시거나 문자 남겨주세요</option>
                                            <option>직접 입력</option>
                                        </select>
                                    </div>
                                    <div style="width: 500px">
                                        <input type="text" class="form-control" placeholder="배송 요청사항을 입력해주세요" style="width: 500px">
                                        <p class="text-end text-secondary" style="font-size: small"><span>0</span>/50</p>
                                    </div>
                                </div>
                            </div>
                            <!-- 상품 재배송 정보 영역 끝 -->
                        </div>
                    </div>
                    <!-- 회수지 정보, 환불 정보, 상품 재배송 정보 영역 끝 -->
                    <div class="text-center bg-white mb-3">
                        <button type="button" class="btn w-50 btn-outline-dark">신청하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" layout:fragment="script">
    // 옵션변경 모달
    const optionModal = new bootstrap.Modal(document.getElementById('modal-modify-option'));

    async function showOptionList() {
        optionModal.show();
    }

    // 배송지 리스트 팝업 표시
    function showDeliveryList() {
        window.open("/order/delivery/list", "_blank", "width=600,height=700,top=70,left=100")
    }
</script>
</html>