<html layout:decorate="~{layout/base}">
<head>
    <title>룸메이크 | 채널글</title>
</head>
<div layout:fragment="content" class="container my-3">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-3">글 등록하기</h3>

            <form class="border bg-light p-3" method="post" th:object="${postForm}" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label class="form-label">제목</label>
                    <input type="text" class="form-control" name="title" placeholder="제목을 입력해주세요."/>
                    <div th:errors="*{title}" class="text-danger"></div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">내용</label>
                    <textarea rows="10" class="form-control" name="content" placeholder="내용을 입력해주세요."></textarea>
                    <div th:errors="*{content}" class="text-danger"></div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">사진</label>
                    <input type="file" class="form-control" name="imageFile"/>
                </div>
                <div class="text-end">
                    <a class="btn btn-secondary" href="">취소</a>
                    <button type="submit" class="btn btn-primary">등록</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>