<html layout:decorate="~{layout/base}">
<head>
    <title>룸메이크 | 채널글</title>
</head>
<div layout:fragment="content" class="container my-3">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-3" th:if="${channelId != null}">글 등록하기</h3>
            <h3 class="mt-3" th:if="${postId != null}">글 수정하기</h3>

            <form class="border bg-light p-3" method="post" th:object="${postForm}" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label class="form-label">제목</label>
                    <input type="text" class="form-control" th:field="*{title}" name="title" placeholder="제목을 입력해주세요."/>
                    <div th:errors="*{title}" class="text-danger"></div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">내용</label>
                    <textarea rows="10" class="form-control" th:field="*{content}" name="content" placeholder="내용을 입력해주세요."></textarea>
                    <div th:errors="*{content}" class="text-danger"></div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">사진</label>
                    <input type="file" class="form-control" th:field="*{imageFile}" name="imageFile"/>
                </div>
                <div class="form-group mb-3" th:if="${imageName != null}">
                    <div class="mb-2">
                        <span>저장된 사진</span>
                    </div>
                    <img th:src="@{${imageName}}" style="width: 150px; height: 150px;">
                </div>
                <div class="text-end">
                    <a class="btn btn-secondary" th:if="${channelId != null}" th:href="@{|/channel/post/list/${channelId}|}">취소</a>
                    <a class="btn btn-secondary" th:if="${postId != null}" th:href="@{|/channel/post/detail/${postId}|}">취소</a>
                    <button type="submit" th:if="${channelId != null}" class="btn btn-primary">등록</button>
                    <button type="submit" th:if="${postId != null}" class="btn btn-primary">수정</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>